[2016-11-10 12:58] homerokzam opened #1 "How do I use"
Nice to be your initiative. How do I use it?

Thanks,
Homero

[2016-11-10 13:12] homerokzam commented on #1
I got to use it. Very cool!

Do you know the SlideOverKit library? Have you used with Prism? Can I use the same way you did for Rg.Plugins.Popup?

Thanks,
Homero

[2016-11-10 16:22] dansiegel commented on #1
I'm not very familiar with that library, however I can add it to my list of plugins to release.

[2016-11-10 16:58] homerokzam commented on #1
Ok.

Thanks,
Homero

[2016-11-10 16:58] #1 closed

[2017-01-10 17:25] mackayn opened #2 "Destroy not called on PopupPages that implement IDestructible"
HI,

Firstly this is a really useful pluggin that allowed us to easily integrate Rx.Popup into our Prim app.

The issue I have is that in Prism 6.3 beta they added IDestructible to allow you to cleanup attached behaviors in controls.

This is the scenario I'm hitting, when popping the PopupPage Destroy is never called on the Page

[code]
Does the pluggin support IDestructible? It's a really useful

[2017-01-10 18:06] dansiegel commented on #2
I agree that would be a really good addition. I'll try to get a preview out in the next day or two.

[2017-01-11 09:06] mackayn commented on #2
Thanks.

[2017-01-12 18:29] #2 closed

[2017-01-12 18:32] dansiegel opened #5 "Add Support for updates to INavigationAware"
Prism for Xamarin Forms 6.3 updates INavigationAware with a concept of Navigating and Navigated.

The extensions for navigating to Popup Pages will need to support the new paradigm

[2017-01-12 18:53] dansiegel opened #6 "Update to Prism Forms 6.3"
Prior to releasing the stable v1.1 for the Popups plugin, Prism Forms will need to have released v 6.3.0

[2017-01-12 21:01] dansiegel opened #7 "Push PopupPage doesn't fire OnNavigatedFrom"
When pushing a new Popup Page the current page OnNavigatedFrom is not called.

[2017-01-13 01:14] dansiegel opened #8 "Add support for querystring parameters"
Currently navigation events do not support handling querystring navigation parameters. This should be added for the next release.

[2017-01-15 17:08] dansiegel commented on #5
While `OnNavigatingTo` is now supported, 6.3.0-pre2 will introduce `INavigatedAware` & `INavigatingAware`. The implementation will need to be updated to take advantage of this.

[2017-01-16 16:56] dansiegel commented on #7
Fixed by PR #11

[2017-01-16 16:56] #7 closed

[2017-01-16 17:16] dansiegel commented on #8
Closing this as it will be added as part of Deep Linking in Version 2

[2017-01-16 17:16] #8 closed

[2017-01-17 16:16] dansiegel commented on #2
Sorry for the delay, the 1.1.0-pre1 package is now available. Look for a pre2 drop when Prism releases 6.3.0-pre2, that will introduce support for using either the `INavigatedAware` or `INavigatingAware` interfaces on your ViewModels or Pages.

[2017-01-17 16:45] mackayn commented on #2
Hi Dan,

I tested 1.1.0-pre1 and it works as expected with IDestructible.

Many thanks for looking into this.

[2017-01-19 16:38] mackayn opened #16 "When using in MasterDetail OnNavigatedTo is always raised in Master Detail"
In MasterDetail apps when you Push a Popup page from the view model of the detail and go back OnNavigatedTo does not trigger in the viewmodel that called the code below (ViewA), instead OnNavigatedTo triggers in the view model of the MasterDetail page

```await _navigationService.PushPopupPageAsync(PageLibrary.PopupPageKeyFleet);```

The App structure is

MasterDetail\NavigationPage

- MasterDetai

[2017-01-19 17:05] dansiegel commented on #16
Just to confirm the behavior you're looking for would be to call OnNavigatedTo on the Detail of the MasterDetailPage and if that page is a NavigationPage, then the CurrentPage of the NavigationPage. Is that correct?

[2017-01-19 17:15] mackayn commented on #16
Hi Dan,

Yes, I believe so. It works fine in the Navigation page scenario, it's the in master detail scenario the issue occurs.

[2017-01-19 19:47] dansiegel commented on #16
Pre2 is now available with this fix

[2017-01-20 11:42] mackayn commented on #16
HI Dan.
Thanks for the fix, this version won't show a Popup, when you call PushPopupPageAsync it just hangs the app.

[code]
No exception is raised and the task never returns.

I have uploaded a repo project for you

https://drive.google.com/drive/folders/0B90tKD37uOtwZ3pjSDlTMzR3Z2M?usp=sharing

I think the issue is due to the detail been wrapped in a NavigationPage possibly. This is a fairly com

[2017-01-20 12:21] mackayn commented on #2
Hi Dan,

I found an unwanted side effect.

While it does trigger Destroy on the Popup page when you implement IDestructible, it also triggers Destroy in the master detail page, I only noticed because I could no longer select my listitems in the master Popover list.

Works as expected.

[code]

Triggers unexpectedly
[code]

[2017-02-02 19:40] mackayn opened #19 "Plugin causes crash when you push the wrong type of page"
This on occurred due to me pushing a navigaton page wrapping a content page to PushPopupPageAsync, it was a case of user error but might be good to throw an exception that the wrong type of page has been passed rather than the app crashing out.

sm-g920f
Android 5.0.1
App Memory Use	214 kB
Backgrounded	No
Network	Cellular
Operator	N/A
Orientation	Unknown
Jailbroken	No

Exception
`
System.ArgumentN

[2017-02-14 10:06] nglekhoi commented on #16
Modify the FilterPage function inside PopupExtensions.cs like this:
[code]
fixed the Master Detail problem for me.

The idea is using
`
page.GetType().GetTypeInfo().IsSubclassOf(typeof(MasterDetailPage)))
`
instead of
`
page.GetType() == typeof( MasterDetailPage )
`

Because if you compare the Type of derived class of MasterDetailPage to MasterDetailPage, the result always false. So you will get t

[2017-02-17 14:30] mackayn commented on #16
I did notice an unwanted behavior though in the following scenario in the latest build.

If I'm call the Popup from MasterDetails\NavigationPage\Homepage,  Destroy in the homepage Viewmodel is called.

Homepage is rendered and the current detail page so really it shouldn't be destroyed as it's in the navigation stack.

So the current detail page will do it's cleanup although it's the current detai

[2017-02-20 15:28] mackayn commented on #16
Hi,

I just tested with the sample app in github and it's the same issue with just a single contentpage, Destroy is called when you show the popup.

[code]

I'll step through and see what's going on.

[2017-02-20 16:13] mackayn commented on #16
Hi,

The issues seems to be in HandleINavigatedAware, if you handling navigating from HandleIDestructiblePage is called even if it's not a PopupPage, this is the job of Prism's navigation service though.

The change I think will resolve this issue would be:

Original code:
[code]

Change

[code]

That way only the popup page will be cleaned up  but OnNavigatedFrom will be triggered correctly.

[2017-02-27 18:16] dansiegel commented on #5
Fixed by PR #26

[2017-02-27 18:16] #5 closed

[2017-02-27 18:17] dansiegel commented on #16
Should be fixed by PR #25

[2017-02-27 18:17] #16 closed

[2017-02-27 18:17] #19 closed

[2017-03-23 19:57] beylkhanovdamir opened #29 "Navigation stack is empty after call PushPopupPageAsync"
If I make call PushPopupPageAsync method and select an action, so then after navigating to selected page from action, my nav stack is empty (i.e. current nav history will clear)
How it fix?

[2017-03-28 15:28] dansiegel commented on #29
@beylkhanovdamir can you provide a little more information on this problem? Do you mean you have something like: `ViewA/PopupPageA/ViewB` and when you navigate back from `ViewB` your stack is just `ViewA` and `PopupPageA` is gone?

[2017-03-28 15:29] #6 closed

[2017-03-28 15:33] dansiegel opened #34 "Update to NetStandard"

[2017-03-28 15:34] dansiegel opened #35 "Update to Prism.Forms 7.0.0"

[2017-03-28 15:35] dansiegel opened #36 "Introduce PopupPageNavigationService"
PopupPageNavigationService should override the PageNavigationService's `DoPop` and `DoPush` methods so that we can support pushing and popping PopupPages

[2017-03-28 16:40] dansiegel commented on #36
Complete by #37

[2017-03-28 16:40] #36 closed

[2017-04-04 00:50] kylewarren opened #40 "OnNavigateFrom does not fire for background press"
After displaying my pop up page, I clicked on background, popup page dismisses, but onNavigateFrom does not fire, nor do the onNavigate methods of the page i'm over laying

[2017-04-04 00:52] kylewarren opened #41 "PopUp Page Won't Navigate Twice"
From Page A, I click button and call navigationService.NavigateAsync("popuppage");

From popuppage, I call navigationService.GoBackAsync();

I'm back at Page A, but if I try to click button and call popuppage again nothing happens.

I have to leave Page A and go back to Page and then I can call popup again.

[2017-04-04 02:09] dansiegel commented on #41
@kylewarren what version are you using?

[2017-04-04 03:59] kylewarren commented on #41
2.0.0-pre1.

[2017-04-04 05:25] dansiegel commented on #40
Looks like there is in fact an event handler for this. I believe we can inject a behavior to handle the event.

[2017-04-04 17:30] kylewarren commented on #40
Great! Do I need to do anything to help? I'm new to github and not familiar with processes yet.

[2017-04-04 17:38] dansiegel commented on #40
Issue #41 really needs to be fixed first. If you have the time and would like to help I am more than happy to accept a PR, but it isn't a requirement. There's a ton of tutorials out there, [here](https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/) is one to get you started since you're new.

[2017-04-05 00:52] dansiegel commented on #41
as a work around you can use `PopupGoBackAsync ` until this is fixed.

[2017-04-07 20:26] beylkhanovdamir commented on #29
@dansiegel yes

but now another case already

I've a page where I call a popup.

Then I want to pass a some param from popup back to the page. I'm writing like this ```_navigationService.PopupGoBackAsync("popupKey", "111")```
So how I can catch this go back event on page?

[2017-04-07 20:31] dansiegel commented on #29
@beylkhanovdamir this is a limitation of Rg.Plugins.Popup. If you push any new non-Popup Page onto the stack it will automatically clear out any Popup Pages that you may have had.

You can have `ViewA/PopupPageA/PopupPageB` and call `PopupGoBackAsync` and go back to `PopupPageA`, however as I mentioned there is simply no way to restructure the Popup pages you may have between `ViewA` and `ViewB` a

[2017-04-07 20:31] #29 closed

[2017-04-09 05:49] beylkhanovdamir commented on #29
@dansiegel

I've ContentPageA/PopupPageB and I call PopupGoBackAsync and go back to ContentPageA
Why PopupGoBackAsync method is allowing passing params if it not possible as you wrote?

[2017-04-09 05:57] dansiegel commented on #29
If the navigation stack is as you describe `ContentPageA/PopupPageB`, then yes you should be able to pass parameters from `OnNavigatingFrom` on `PopupPageB` to `OnNavigatingTo` on `ContentPageA`. What I was saying is that if you Navigated from`PopupPageB` to `ContentPageC` when you go back you would be going back to `ContentPageA` because `PopupPageB` is automatically popped by the PopupNavigation

[2017-04-27 09:14] beylkhanovdamir opened #42 "Open PopupPage from action sheet"
@dansiegel

After update on the latest XF release 2.3.4 I noticed that when I try open my popup page by clicking on the button from action sheet , my app is crashes.
In output log I see the next info:

The app has been terminated.

This is how I'm adding my action sheet button (I'm using a Prism PageDialogService):

`var updateLocationAction = ActionSheetButton.CreateButton("Change Store", UpdateL

[2017-04-27 20:52] beylkhanovdamir commented on #42
@dansiegel any ideas?

[2017-04-27 20:54] dansiegel commented on #42
I won't have time to look into this until at least tomorrow. In the mean time I would delete your obj and bin folders. You may also try deleting your packages folder and doing a full restore and with a fresh build. I've noticed sometimes after updating Xamarin things get messed up and it requires obliterating all of the build artifacts.

[2017-04-27 21:23] beylkhanovdamir commented on #42
@dansiegel but it's not working on device too

[2017-04-28 05:03] dansiegel commented on #42
@beylkhanovdamir I'm unable to reproduce your issue. I'm running one of my apps with Xamarin Forms 2.3.4.231 and Prism.Plugin.Popups without an issue.

[2017-05-01 01:06] beylkhanovdamir commented on #42
@dansiegel
probably the main reason is that you are using PCL with Profile78 project type vs .netstandard 1.3 from my side

[2017-05-01 01:08] beylkhanovdamir commented on #42
do you plan how resolve these project differences?

[2017-05-01 06:04] dansiegel commented on #42
@beylkhanovdamir not sure I follow you. The plugin uses Profile259, the same as Prism. I won't be updating this library to NetStandard until Prism has made the switch.

[2017-05-01 15:05] beylkhanovdamir commented on #42
@dansiegel
I've another question. If I opened my popup, then when I close it, I need call Gobackasync in navigationservice, which calling init of my previous view, but I didn't need reinit data for previous view. How I can fix it?

[2017-05-01 16:41] beylkhanovdamir commented on #42
do you test in android emulator? or ios simulator?
I noticed that crash is reproducing only in ios simulator. i.e. on android everything is fine

[2017-05-01 16:42] dansiegel commented on #42
I always suggest testing on a real device. I usually deploy to my Android and iOS devices for local testing

[2017-05-01 16:46] beylkhanovdamir commented on #42
@dansiegel

ok. will test on device, thx

please get answer on question about working with popup in 2.x version

[2017-05-01 16:54] beylkhanovdamir commented on #42
just tested on my iphone, popup is not appearing

[2017-05-01 19:49] beylkhanovdamir commented on #42
I don't know why, but it's now working only if popup calling from action sheet and on ios

[2017-05-01 20:25] dansiegel commented on #42
@beylkhanovdamir if you have a demo project that can replicate your issue it would be a lot easier for me to try to help you.

[2017-05-01 21:34] beylkhanovdamir commented on #42
@dansiegel
no problems.  I've taken a fork from your master branch and added some changes to reproduce my issue on ios with calling popup from action sheet. BTW, I've updated XF to latest version and added your plugin as nuget package to project

You can download [this sample from here](https://www.dropbox.com/s/omk4vhtwemtcih5/Prism.Plugin.Popups-Popup_Issue.zip?dl=0)

Also I recorded a short scr

[2017-05-01 21:59] dansiegel commented on #42
@beylkhanovdamir the issue of the buttons not working, seems to be some weird bug with the Commands not firing. I still need to look into this more. I'm going to be busy working on some Prism updates for the next week but then hopefully I can focus some attention to this after that. If you have a fork and would like to look into the issue yourself, I'm always happy to accept PR's.

[2017-05-16 07:52] mdonogma opened #43 "build issue: when using Prism.Plugin.Popups.DryIoc using Container.RegisterPopupNavigationService() in RegisterTypes blocks compile"
Using the Prism master detail example. It leverages Prism.Plugin.Popups.DryIoc for IOC.
added : Prism.Plugin.Popups.DryIoc to the project. (see link below)

The landing page on this site indicates Prism.Plugin.Popups.DryIoc is supported however when using it the project will not compile?
Here is the Xamarin forms hamburger menu project used: https://github.com/PrismLibrary/Prism-Samples-Forms/tree

[2017-05-16 15:54] dansiegel commented on #43
What version are you using?

[2017-05-16 21:24] mdonogma commented on #43
Prism.Forms 6.3.0
Prism.DryIoc.Forms 6.3.01
Prism.Plugin.Popups.DryIoc version 1.1.0
Rg.Plugins.Popup 1.0.4

[2017-05-16 22:13] dansiegel commented on #43
Notice that there are instructions for version 1 .x and version 2.x. `Container.RegisterPopupNavigationService()` does not exist in v1.x.

https://github.com/dansiegel/Prism.Plugin.Popups#version-2x

https://github.com/dansiegel/Prism.Plugin.Popups#version-1x

[2017-05-16 22:13] #43 closed

[2017-05-20 10:14] brux88 opened #44 "Container.RegisterPopupNavigationService(); not found"
hi, i am trying to install this plugin but in my app.xaml.cs into override RegisterTypes , i not foun reference for Container.RegisterPopupNavigationService();

why?

[2017-05-20 15:26] dansiegel commented on #44
I'm going to take a guess that you're using version 1.x... it doesn't exist in v1.x only in the 2.0 preview. The docs are split by version. Version 1.x just uses extensions on INavigationService so you don't actually need to register anything. Version 2.0 will actually replace the NavigationService so you can use Popup's with deep linking.

[2017-05-21 08:03] brux88 commented on #44
Ok, in fact I'm going to use the 1.x version, but how can i make it work?

[2017-05-21 08:03] dansiegel commented on #44
https://github.com/dansiegel/Prism.Plugin.Popups#version-1x

[2017-05-21 08:03] #44 closed

[2017-05-21 08:11] brux88 commented on #44
I followed exactly the guide but when I'm running I get this error.
i added and screencast

[2017-05-21 08:17] dansiegel commented on #44
The only error that you've specified, is the result of following the guide for the wrong version. If you have another error please let me know what the error is that you are having.

[2017-05-21 08:19] brux88 commented on #44
I followed the guide for version 1.x but I get the error you see in the screencast at this link:

[2017-05-21 08:20] dansiegel commented on #44
you haven't included a link

[2017-05-21 08:20] brux88 commented on #44
www.mysedna.com/prismerror.swf

[2017-05-21 08:27] dansiegel commented on #44
Please send me the full stack trace and open a new issue thanks.

[2017-05-21 08:35] brux88 commented on #44
Where I can see the full stack?

[2017-05-21 08:45] brux88 commented on #44
I did display external code and call me from these calls
![2017-05-21_1044](https://cloud.githubusercontent.com/assets/3495339/26282483/a752bbf2-3e12-11e7-9d4d-4ab93ff1e597.png)

[2017-05-21 15:31] brux88 commented on #44
i added try e catch and show this error :
{Prism.Plugin.Popups.PopupPageMissingException: There seems to be an issue resolving the PopupPage 'SomePopupPage'. Either we couldn't find it or we did, but we got something other than a Popup Page.
  at Prism.Navigation.PopupExtensions.VerifyPageIsRegistered (System.String name) [0x00012] in <37b28110804d4d8b9cde60c2d8d2132f>:0
  at Prism.Navigation.Popu

[2017-05-21 15:41] dansiegel commented on #44
That should tell you what the problem is. Either you forgot to register the View for navigation, or you're trying to push something that isn't a PopupPage

[2017-05-21 15:58] brux88 commented on #44
I think I found the problem, it seemed to me that with pushpopuppage you could see an alert, instead it requires a real page to be displayed.

I solved using "IPageDialogService dialogService"

[2017-05-21 16:00] dansiegel commented on #44
This plugin simply a wrapper to make using [Rg.Plugins.Popup](https://github.com/rotorgames/Rg.Plugins.Popup) easy to work with for Prism users. You need to understand the difference between a popup page and a Alert. Hope that helps.

[2017-06-01 09:32] MartinRobins opened #45 "Receiving parameters from PopupGoBackAsync"
Version 1.1 for DryIoc.

I am calling "PushPopupPageAsync" from within a ViewModel and then from within the ViewModel of the popup I am calling "PopupGoBackAsync". Both calls are being passed parameters and I have implemented INavigatedAware on each of the ViewModel classes.

The call to "PushPopupPageAsync" results (correctly) in the "OnNavigatedTo" of the popup ViewModel being called so that I c

[2017-06-01 12:50] MartinRobins commented on #45
Ok, I think I have identified the problem...

I am using a MyMasterDetailPage/NavigationPage/MyContentPage navigation structure where MyMasterDetailPage is inherited from MasterDetailPage and MyContentPage is inherited from ContentPage but NavigationPage is the original Xamarin.Forms.NavigationPage.

Within the shared implementation of the PopupExtensions class, the "FilterPage" method is used to

[2017-06-01 16:31] dansiegel commented on #45
@MartinRobins thanks for reporting this issue. C# 7 wasn't available cross platform when I last published. I do believe refractoring this to C# 7 would likely fix the bug without breaking the current functionality. I should have some time to circle back to this once we ship the Prism 7 preview

[2017-06-01 16:35] MartinRobins commented on #45
@dansiegel I do not think that simply upgrading to C# 7 will resolve the issue you need to remove the dependency on TypeInfo.IsSubclassOf(Type) in order to actually fix it (in my scenario). The various C#6/C#7 options I provided are merely syntactic sugar.

[2017-06-01 16:38] dansiegel commented on #45
Again I'll take a look at it, in the mean time I might suggest just creating a Page that inherits from NavigationPage until the issue can be resolved.

[2017-06-01 18:17] MartinRobins commented on #45
No hurry; I have a local copy of the project with the fix already applied and I am using that for now. I will bring your own version back in when you have the time to address it. Thanks.

[2017-06-07 12:58] beylkhanovdamir commented on #45
@dansiegel
@MartinRobins

the same problem for me.
could you notify when you can try fix this issue with receiving params from popup? thx

[2017-06-07 13:22] MartinRobins commented on #45
@beylkhanovdamir Why not follow Dan's suggestion by simply create a class of your own inheriting from NavigationPage and then using that in the place of your existing NavigationPage; that then bypasses the problem as the class being inspected passes the test of "IsSubclassOf(typeof(NavigationPage))". It saves waiting.

[2017-06-09 05:30] AllDayer opened #46 "NavigationService.GoBackAsync() clears calling BindingContext"
Apologies if this is too vague. I've noticed that calling
`await m_NavigationService.GoBackAsync();`
From the pop up view model will set the `BindingContext `of the view that calls it to null.

However using
`m_NavigationService.PopupGoBackAsync();`
Works fine.

I'm using Prism 6.3
Rg.Plugins.Popup 1.1.0-pre2

[2017-06-09 05:33] dansiegel commented on #46
What version of the plugin are you using? The goal of v2 is to eliminate the extension methods, but the current preview has some known bugs that will be addressed in the next preview. Right now I suggest using the 1.1 release, in which case to go back from a PopupPage you need to call `PopupGoBackAsync`

[2017-06-09 05:36] AllDayer commented on #46
I'm using Prism.Plugin.Popups.DryIoc 2.0.0-pre1.

Thanks for your help.

[2017-06-09 05:54] dansiegel commented on #46
For now I would suggest using the extension as it's more stable. I'll leave this open for now so that it can be investigated as part of the v2 release.

[2017-06-12 13:55] Mutasem1980 commented on #42
**Workaround**

task.delay(1)
_navigationservice.PushPopupPageAsync(..

[2017-06-13 11:54] beylkhanovdamir commented on #45
@MartinRobins @dansiegel

yes, but other my page params (which are passed to this page) will be reset after closing popup, and in result, I will have only last passed param from popup. it's not good.

I'm using v1.1.0

[2017-06-14 07:09] satputerohan commented on #46
I am having same issue with Unity version. My views just disappear after I call GoBackAsync. Which extension are you suggesting? I would like a quick resolution on this, as it is unusable with this bug. Doesn't matter if it is a dirty hack for the time being. Thanks :)

[2017-06-14 07:26] satputerohan commented on #46
I tried downgrading to 1.1, but it is not calling the OnNavigatedTo of the calling page (tabbedPage) on GoBackAsync(). It only calls OnNavigatedFrom of popup page.

[2017-06-15 06:00] dansiegel commented on #46
It should call the active child of a TabbedPage, it will not call OnNavigatedTo on the TabbedPage

[2017-06-15 06:37] satputerohan commented on #46
That's what I meant. It is not calling the OnNavigatedTo of the active tab. I am using Prism 6.3 with v1.1 of this library.

[2017-06-15 08:09] satputerohan commented on #46
On the contrary, I just checked and I am getting the callback to my TabbedPage, instead of the active tab. This is something I discussed with Bryan Lagunas on [this xamarin forum](https://forums.xamarin.com/discussion/comment/268694#Comment_268694) page .  The callback system is a little inconsistent when the tabs are generated via bindings dynamically vs predefined.

[2017-07-04 07:40] mdonogma opened #47 "UWP Support"
cannot get working with UWP - does this plugin work with UWP - if not is it something being locked at in the short term

[2017-07-06 21:18] dansiegel commented on #47
There is nothing in this plugin that would prevent use with UWP. Make sure you read the docs for Rg.Plugins.Popop as I recall there is some initialization required for UWP.

[2017-07-06 21:18] #47 closed

[2017-07-30 02:16] dansiegel commented on #45
I am looking to remove the extension methods in favor of providing a NavigationService that will handle Pushing and Popping PopupPages. If you continue to have the issue in v2 (once I release the next preview) please let me know.

[2017-07-30 02:16] #45 closed

[2017-07-31 05:53] #34 closed

[2017-07-31 05:53] #35 closed

[2017-08-01 03:06] dationguyen opened #48 "GoBackAsync() make losing all bindable object in the previous page"
Hi Guys,
There is a small error when using _navigationService.GoBackAsync, the previous page will lose all of its binding content (all of the binding objects is not appear, the binding context still there )
I switched to _navigationService.PopupGoBackAsync() and it works as normal.

I am using Prism.Plugin.Popups version 2.0 pre.
Hope it helps.
Dat Nguyen

[2017-08-01 03:11] dansiegel commented on #48
This is a known issue in 2.0.0-pre1 see #46

[2017-08-01 03:11] #48 closed

[2017-08-01 04:03] dansiegel commented on #41
this seems to be caused by issue #46.

[2017-08-01 04:03] #41 closed

[2017-08-01 04:05] dansiegel commented on #40
The `BackgroundPopupDismissalBehavior` should help address this issue in pre2

[2017-08-01 04:05] #40 closed

[2017-08-01 04:17] dationguyen commented on #46
Hi guys,
Is there any way to keep the page in the cache when we navigating back?
I want to keep my popup page as a static page. so the ViewModel will be the same when we push the popup again
In the current stage, the Popup page ViewModel will stay there and will be deconstructed (then create another new ViewModel) when we push the popup again.

Hope my English wasn't too bad
Best regards,
Dat Nguy

[2017-08-01 04:22] dansiegel commented on #46
@dationguyen Singleton Views/ViewModels are not supported with Prism, particularly as they cause more problems than they solve.

[2017-08-01 04:24] dationguyen commented on #46
Thank @dansiegel!
I will try using the singleton services from the DI.
Is it better?

[2017-08-01 20:40] dansiegel commented on #46
this issue has been fixed and will be released soon.

[2017-08-01 20:40] #46 closed

[2017-08-01 20:42] dansiegel opened #49 "Fix CI Build"
CI Build is currently having issues resolving the package dependencies. This should have been fixed by the NuGet.config but the restore is still failing.

[2017-08-30 00:27] dansiegel commented on #42
This issue should have been fixed in 2.0.0-pre2... please let me know if that is not the case and we can reopen this.

[2017-08-30 00:27] #42 closed

[2017-08-30 00:28] #49 closed

[2017-09-23 07:19] opcodewriter opened #50 "Abstract the popup functionality and add it to Prism.Forms?"
Useful stuff, have you considered abstracting the popup functionality and making a PR to Prism.Forms?
It would be useful to have the popup support baked right in Prism.Forms.
By abstracting the popup functionality I mean make it able to work with an adapter for Rg.Plugin.Popup or any other popup functionality.
Not sure if it make sense,..

[2017-09-23 07:21] dansiegel commented on #50
I'm not sure that any part of this would be appropriate for Xamarin Forms... if anything were to be brought into Xamarin Forms it would be Rg.Plugin.Popup in which case support for Popups would be integrated directly into Prism.Forms

[2017-09-23 07:21] #50 closed

[2017-09-23 07:27] opcodewriter commented on #50
Why wouldn't popups be "appropriate" for Xamarin Forms?
Maybe I didn't explained it right...
Let me put it this way: if I were to implement my own popup functionality (similar to Rg.Plugin.Popup) how do I make Prism.Forms work with it? I'd have to create something similar to your Prism.Plugins.Popups. So instead of creating Prism.Forms plugins to work with specific popup libraries, I was thinking

[2017-09-23 07:31] dansiegel commented on #50
If you put together your own Popup library I'm happy to do what I can to abstract things to work across libraries, but there's not much point in trying to abstract it at the moment as it's simply implementing Prism's INavigationService to work with Rg.Plugins.Popup

[2017-11-22 03:52] dansiegel opened #51 "Prism 7 pre4 breaks Plugin"
There are two major breaking changes in Prism 7.0.0.269-pre (pre4) that break the Popups Plugin

1. Navigation Service ctor changed to include the new IPageBehaviorFactory. This breaks the v2 preview
1. NavigationParameters changed how the NavigationMode is stored. There is no way in pre4 to set the NavigationMode.

The next preview of the Popup Plugin cannot be released until there is a new Prism

[2017-12-20 17:27] rastreus commented on #51
Were these two breaking changes fixed with Prism 7 pre5?

[2017-12-20 17:41] dansiegel commented on #51
Pre4 honestly hosed this plugin. Pre5 did contain some fixes that allow me to work with the changes in Prism 7. I even have those fixes done. However, I’m having some tooling issues on the build server that are keeping me from releasing an update. I hope to have something out this week though.

[2017-12-20 17:43] dansiegel commented on #51
I should add that the container specific packages will all be deprecated in the next release as Prism 7 has abstracted IOC, which makes it possible to share between all containers.

[2018-01-05 06:14] dansiegel commented on #51
fixed in pre4

[2018-01-05 06:14] #51 closed

[2018-01-30 20:37] dansiegel opened #52 "Popup isn't pushed with Popup Navigation in NavigationPage"
When pushing a PopupPage from a child of a NavigationPage, the PopupPage is pushed to the NavigationPage rather than the PopupStack

[2018-02-08 16:34] LGFox opened #53 "Android build error with Prism 7.0"
Hi @dansiegel!

After updating to Prism 7.0 I got a build error:

`Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'Microsoft.Practices.Unity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f'. Perhaps it doesn't exist in the Mono for Android profile?
File name: 'Microsoft.Practices.Unity.dll'
   at Java.Interop.Tools.Cecil.DirectoryAss

[2018-02-08 17:39] dansiegel commented on #53
You cannot use v1 with Prism 7. Please update to the latest preview of v2

[2018-02-08 17:39] #53 closed

[2018-02-12 18:14] cassionandi opened #54 "Simple Example of Navigation"
Hi Dan, thank you for this nice extension for Prims.

I am new to Prism, so you demo code got a little complex to me, so I am here to ask you a little help.

I`m trying to open a Page directly with the PopUp over it. Trying something like:

`NavigationService.NavigateAsync("WelcomePage/NewVersionPopupPage");`

but on iOS I got the "application wndows are expected to have a root view controller..."

[2018-02-16 14:30] cassionandi commented on #52
The same happens here.

[2018-02-16 14:35] cassionandi commented on #52
Dan, maybe the PushAsync must be change to PushPopupAsync...

`protected override Task DoPush(Page currentPage, Page page, bool? useModalNavigation, bool animated, bool insertBeforeLast = false, int navigationOffset = 0)
        {
            switch (page)
            {
                case PopupPage popup:
                    return _popupNavigation.PushAsync(popup, animated);
                def

[2018-02-16 14:50] dazinator opened #55 "Problem if using latest prism CI packages"
I am using the CI feed and `7.0.0.423-ci` packages of `Prism` (Core and Forms), and `Prism.Plugin.Popups`

I am getting this exception:

System.TypeLoadException: Could not resolve type with token 01000015 (from typeref, class/assembly Prism.Navigation.INavigationService, Prism.Forms, Version=7.0.0.336, Culture=neutral, PublicKeyToken=null) occurred

Stack Trace:

  at FlexForce3.Core.App.Register

[2018-02-16 14:55] dazinator commented on #55
And simple workaround was to just use this:

[code]

rather than this:

[code]

[2018-02-16 15:38] dazinator commented on #52
@cassionandi

Doesn't `_popupNavigation.PushAsync` refer to this: https://github.com/rotorgames/Rg.Plugins.Popup/blob/24ef7a828144af86b98fecf0dbf28840ab5c846d/src/Rg.Plugins.Popup/Contracts/IPopupNavigation.cs

There is no PushPopupAsync method on IPopupNavigation

By the way, I am also trying to get this to work. I have navigated from a `Master / Detail` and my detail is a `TabbedPage`. I am atte

[2018-02-16 15:47] dansiegel commented on #55
if you're using the latest from CI... you shouldn't be using the Builder at all... all container specific packages were deprecated use the Prism.Plugin.Popups nuget instead this should register what you need with the ContainerRegistry.

[2018-02-16 15:49] dansiegel commented on #54
does it work if you navigate to each one separately?

[2018-02-16 15:57] dazinator commented on #55
@dansiegel

I am using `Prism.Plugin.Popups` nuget package!
I believe you still have to use the extension method: `RegisterPopupNavigationService()` to add the services is that correct? or does simply referencing the nuget package now enough to atumagically register services?

Because the problem is the extension method - it is compiled against a type `INavigationService` in `7.0.0.336`. `INavigat

[2018-02-16 15:59] cassionandi commented on #52
@dazinator I was expecting the use of some extension that makes PushPopupAsync available.

If you get you case to work, let us know.

[2018-02-16 16:04] cassionandi commented on #54
The WelcomePage opens if alone in the NavigateAsync. The PopupPage dont. Together pages don't open too.

Just to be clear, this is in the App.cs, opening the first page of the app.

[2018-02-16 19:58] dansiegel commented on #55
if you're targeting a Prism CI package currently INavigationService has moved from Prism.Forms to Prism.Core which will break the Popup Plugin. I will have a CI package out soon that will fix that but I need to release and updated preview package first.

[2018-02-16 20:01] dansiegel commented on #54
ok, but if you are on WelcomPage andyou have `_navigationService.NavigateAsync("NewVersionPopupPage")` does that work or fail...

[2018-02-16 20:44] dansiegel commented on #52
@cassionandi the PopupNavigationService is checking to see whether it's a PopupPage or not... if it is, it uses the IPopupNavigation to push the page otherwise it defers back to the default Prism behavior.

[2018-02-17 00:07] dazinator commented on #55
Ok cheers just wanted to raise awareness of this issue incase it wasnt already on the radar

[2018-02-17 05:59] dansiegel commented on #55
@dazinator much appreciated... I certainly have a lot to do, and sometimes I forget to create issues, so it's good that you did, it gives us a place to track the issue :)

[2018-02-19 13:28] dazinator commented on #52
@cassionandi  I have got this to work now.

As usual, the problem was.. I made a wrong assumption..

I have a `MainApplication` class, and I thought initialising RG Popups in there was as good as initialising it in MainActivity. Don't do this in MainApplication:

[code]

Once I moved that into MainActivity instead, it all started working:

[code]

[2018-02-20 10:58] cassionandi commented on #54
It works (but then we have the problem of the other Issue #52) where the Popup is opening like a normal page, not a overlay popup.

[2018-02-20 11:28] cassionandi commented on #52
may page is a PopupPage, look:

using Rg.Plugins.Popup.Pages;
public partial class NewVersionPopupPage : PopupPage

<?xml version="1.0" encoding="UTF-8"?>
<pages:PopupPage xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
    x:Class="App.Core.Views.NewVersionPopupPage"
    xmlns:pages="clr-namespace:Rg.Plugins.Popup.Pages;assembly=Rg.Plugins.

[2018-02-20 11:36] cassionandi commented on #52
Don't know if it helps, but registering or not in the container I got the same result

containerRegistry.RegisterPopupNavigationService(); //commented or not, same result.

[2018-02-21 12:06] dazinator commented on #55
This issue also appears to break the linker:

Error		The "LinkAssemblies" task failed unexpectedly.
Java.Interop.Tools.Diagnostics.XamarinAndroidException: error XA2006: Could not resolve reference to 'Prism.Navigation.INavigationService' (defined in assembly 'Prism.Plugin.Popups, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null') with scope 'Prism.Forms, Version=7.0.0.336, Culture=neutral, P

[2018-02-21 12:09] dazinator commented on #55
Are you open to a PR that bumps these dependencies?

[2018-02-21 12:34] dazinator commented on #55
I'll submit a PR anyway. There were breaking changes in various interfaces around navigation that I'll address. For example the method signatures from `INavigationAware` were changed to accept `INavigationParameters` rather than `NavigationParameters` etc

[2018-02-21 12:40] dazinator commented on #55
PR submitted

[2018-02-21 13:22] dazinator opened #57 "AppVeyor Build Broken"
As per title! I'll try sending a PR for this.

[2018-02-21 14:53] #57 closed

[2018-02-21 14:54] dansiegel commented on #54
@cassionandi I’m aware of that issue please continue to track it there

[2018-02-21 14:54] #54 closed

[2018-02-21 14:57] dansiegel commented on #55
@dazinator I need to ship a new preview package first. I’m also trying to determine a timeframe for releasing the next service release for Prism which could alter releases here.

[2018-02-28 19:40] dansiegel commented on #52
@dadhi This issue appears to only exist when using DryIoc. There is a problem with DryIoc in which the named service is not being replaced, even if you directly get the container, unregister INavigationService and provide a new implementation.

[2018-02-28 19:49] cassionandi commented on #52
I'm using DryIoc on my project where this issue happens.

[2018-02-28 21:00] dadhi commented on #52
@dansiegel, The only case coming to my mind, if `INavigationService` is already injected in some consumer service.

In this case, and if you are specifically designing to replace already injected dependency, you need to add to dependency registration:

`setup: Setup.With(asResolutionCall: true)`

Here is why: https://bitbucket.org/dadhi/dryioc/wiki/UnregisterAndResolutionCache

[2018-02-28 21:28] dadhi commented on #52
Or you may use `UseInstance` method  which was designed for such cases.

[2018-02-28 22:15] dansiegel commented on #52
@dadhi `INavigationService` is registered by Prism by `PrismApplicationBase.RegisterRequiredTypes`, additional registrations are done for the PlatformInitializer (if it exists), and then the user's App... it isn't until after that, that Resolve is ever called. If you look at the sample app the PopupNavigationService is registered in `App.RegisterTypes`. Also `UseInstance` cannot be used as `INavig

[2018-03-02 19:24] dansiegel opened #59 "PopupPageBehaviorFactory Not Registered"
Currently the PopupPage Behavior Factory is not being registered by the registration extension.

[2018-03-02 19:40] #59 closed

[2018-03-02 19:41] dansiegel commented on #52
I've added a workaround fix that will work with the current release of Prism.

[2018-03-02 19:41] #52 closed

[2018-03-02 19:53] cassionandi commented on #52
Thank you @dansiegel
It is already available on nuget packages?

[2018-03-02 20:28] dansiegel commented on #52
@cassionandi it will be up in the next few hours

[2018-03-02 21:42] cassionandi opened #62 "Error registering Prism.Navigation.INavigationService"
On version 2.0.0-pre5, when the App start it shows:

`Unable to resolve Prism.Navigation.INavigationService {ServiceKey="PageNavigationService"}
  from container
  with normal and dynamic registrations:
  DefaultKey(0), {ID=98, ImplType=Prism.Plugin.Popups.PopupPageNavigationService}}`

Registering like the docs says:
`            containerRegistry.RegisterPopupNavigationService();
`
I'm using Dry

[2018-03-02 21:46] cassionandi commented on #52
I've just opened an issue to discuss an error on this new version. Thank you anyway.

[2018-03-02 21:58] dansiegel commented on #62
Crap... I specifically tested this too. I’ll try to get this resolved ASAP.

[2018-03-06 13:28] cassionandi commented on #62
@dansiegel do you need some log or sample code that I can provide?

[2018-03-06 13:34] dansiegel commented on #62
No I reproduced it pretty quick... I just need to be able to dedicate the debug time.

[2018-03-12 23:23] dansiegel commented on #62
This is fixed in pre6...

[2018-03-12 23:23] #62 closed

[2018-03-13 12:03] cassionandi opened #63 "Open Popup onNavigatedTo"
Hi!

It is possible to open a Popup when the page finishes to load (onNavigatedTo) ?

My page is opened like this:

`NavigationService.NavigateAsync("NavigationPage/WelcomePage");`

When it finishes load, I would like to popup a page to the user. I am doing this:

` if (condition)
            {
                await _navigationService.NavigateAsync("WarningPopupPage");
            }`

This isn't w

[2018-03-13 12:26] cassionandi commented on #63
on iOS it doesn't show the Popup (its like nothing happened).

on Android it shows an empty Popup this the image:
![image](https://user-images.githubusercontent.com/699167/37341559-95e875a6-26a0-11e8-99f0-6cf74a8f883e.png)

[2018-03-13 12:32] cassionandi commented on #63
if I remove the "NavigationPage", on android it works...

[2018-03-13 15:29] dansiegel commented on #63
can you send me a repro

[2018-03-13 15:30] dansiegel commented on #55
The latest CI package on [MyGet](https://myget.org/gallery/prism-plugins) now supports the Prism CI packages

[2018-03-13 15:30] #55 closed

[2018-03-13 22:20] cassionandi commented on #63
Will try to get a sample from my main project.

[2018-03-15 18:18] cassionandi commented on #63
@dansiegel sorry for the delay

Here is a repo with a Sample code. Works on Android Emulator, but not on iOS Simulator.

https://github.com/cassionandi/PopupSample

I have to say that it is not the fully scenario of my App, but maybe solving this I can apply it to my full app too.

[2018-03-16 01:13] dansiegel commented on #63
looking at your code you're trying to push the popup page before the page has been pushed onto the NavigationStack which is why you're having problems.

You could try moving the Navigation to `OnNavigatedTo` which is triggered after the page is pushed onto the NavigationStack.... or you could implement `IPageLifecycleAware` and push it when `OnAppearing` is fired.

[2018-03-16 01:13] #63 closed

[2018-03-16 12:02] cassionandi commented on #63
@dansiegel Prism 7 is really killer, it has everything needed for my project for now.
Did not know about `IPageLifecycleAware`, thank you for your advice.

[2018-03-29 07:56] GyllionElderen opened #64 "Popup doesn't close after pressing Android hardware back button?"
Hello there,

I was using this popup library and just normally open a popup when a button is pressed:

`_navigationService.NavigateAsync(nameof(TestPopup));`

The problem is, when you press the Android hardware back button, navigation stack travels one entry back, without closing the popup. I expected it to close the popup, since that is part of the navigation stack.

Here is a test project where

[2018-03-29 08:11] GyllionElderen commented on #64
Appearantly I did not look good enough in the Rg.Plugins.Popup repo. Just pasting this raw code into MainActivity.cs helped solving the problem:

[code]

[2018-03-29 08:11] #64 closed

[2018-04-02 20:53] dansiegel commented on #55
This has now been updated to work with the Prism 7.1 preview on NuGet

[2018-04-02 21:04] dazinator commented on #55
Great stuff thanks.

[2018-04-06 13:59] cassionandi opened #65 "Last versions and NavigationService"
hi @dansiegel

I've updated all nugets and now I can't open a Popup "alone" without another page on the background.

`NavigationService.NavigateAsync("MainPage/PopupPageA/PopupPageB");`

Something like the code above don't work on iOS, but if I open the MainPage and after open the PopupPageA it works.

This is the only message showed:
`2018-04-06 10:53:38.849 AppNovo.iOS[17494:594432] *** Assertio

[2018-04-06 22:55] dansiegel commented on #65
To the best of my knowledge that is expected behavior... either way it isn't an issue with the Prism Plugin.

[2018-04-06 22:55] #65 closed

[2018-04-20 18:54] rboyette opened #66 "System.TypeLoadException encountered when opening popup using Version 1.X"
Using Version 1.X of Prism.Plugins.Popups, when we use `NavigationService.PushPopupPageAsync("SomePage", parameters);` we get a System.TypeLoadException.

The Prism.DryIoc.Forms version we have is 7.0.0.396

Stack Trace
[code]
Any workarounds or ideas to mitigate this?

Thanks

[2018-04-20 20:49] dansiegel commented on #66
@rboyette you'll want to update to 2.0-pre6 if you're using Prism 7.0.0.396. You can update to the latest if you want to retarget to the 7.1 preview for Prism.

[2018-04-20 20:49] #66 closed

[2018-04-20 23:42] rboyette commented on #66
@dansiegel  thanks for the update. I appreciate it. After updating it to the version as specified, I'm running into another exception with initializing it in the container registration.

When I register the popup navigation service as `containerRegistry.RegisterPopupNavigationService();` it throws an exception:

`Method 'Rg.Plugins.Popup.Services.PopupNavigation.get_Instance' not found.`

How shou

[2018-04-21 00:38] joncortez commented on #66
@rboyette Don't install anymore Prism.Plugin.Popups.DryIoc since it is deprecated. If you're using Prism 7.0.0.396, install instead Prism.Plugin.Popups 2.0.0-pre6 on your PCL/.NET Standard project and each native projects. Install as well Rg.Plugins.Popup 1.1.4.154-pre as it was not automatically installed even though it was a dependency. And then follow the instructions on initializing Rg.Plugins

[2018-04-30 10:02] GyllionElderen opened #67 "Application does not load after updating Prism.Plugin.Popups"
I found out that after updating Prism.Plugin.Popups to version 2, it is conflicting with INavigationService. See the following image below:

![image](https://user-images.githubusercontent.com/32705616/39422339-37fcc4a4-4c6d-11e8-95d3-5be63e77dcea.png)

I have already set up the Rg.Plugins.Popup correctly. It was running without the Prism.Plugin.Popups package installed.

These are the packages I'm

[2018-04-30 23:04] jessejiang0214 opened #68 "The sample project cannot be built"
I have tried Windows and Mac environment, both of them cannot be built

[2018-04-30 23:07] dansiegel commented on #68
It builds just fine on AppCenter as well as my Mac and Windows desktop... can't really say what your problem is without knowing your OS/IDE versions... but I can promise it does build just fine.

[2018-04-30 23:07] #68 closed

[2018-04-30 23:09] dansiegel commented on #67
you shouldn't have an exception thrown by simply not registering the PopupNavigationService as it would simply push your PopupPage's the same as it would a ContentPage. Is your issue resolved? If it isn't, please provide a repo app so I can better assist you.

[2018-04-30 23:09] #67 closed

[2018-05-01 00:32] jessejiang0214 commented on #68
@dansiegel Can you try or launch the demo. Maybe something wrong with latest VS for Mac, Please.

[2018-05-01 01:08] dansiegel commented on #68
@jessejiang0214 the project builds just fine. You've given me no information beyond you can't build it. I purposely have CI set up on this project to ensure that it builds correctly and I actually download the built apps to my devices, so I know it works. The plugin is pretty widely used so whatever the issue is that you're having I doubt the issue lies within the codebase here.

[2018-05-01 06:59] GyllionElderen commented on #67
@dansiegel Thanks the reply. The problem has been resolved, but I found something interesting.

I made another project to see if I can actually reproduce this exception. After making a brand new project and installing the Rg.Plugins.Popup and Prism.Plugin.Popups packages, everything went fine, even without registering the PopupNavigationService. When updating Xamarin.Forms to version 3.0.0.427558-

[2018-05-04 10:11] GyllionElderen commented on #67
For anyone still interested, this error actually occured because it was incompatible with my Prism.Unity.Forms package. Make sure to install the lastest package of Prism.Unity.Forms AND the latest package of Prism.Plugin.Popups.

[2018-05-09 07:28] johnfurog commented on #53
hi @dansiegel

 what do you mean on You cannot user v1 ? which package is it ?

[2018-05-09 14:26] dansiegel commented on #53
Prism 7 uses Unity 5 which is completely incompatible with previous version. Since version 1 of this plugin was built against Prism 6.3 it makes it completely incompatible with Prism.Unity.Forms. It may work and I stress MAY... for DryIoc and Autofac, however I strongly advise that you use v2 there are a lot of improvements starting with the fact that Navigation is no longer done through an extens

[2018-05-23 16:00] reallinfo opened #69 "Prism.Plugin.Popups logo"
Hello, Do you need a logo for prism? If there is your a logo idea, I would like to hear it.

[2018-05-23 16:31] reallinfo commented on #69
Do you have an idea? Or I can design a logo very soon ?

[2018-06-04 16:11] reallinfo commented on #69
Hello @dansiegel What's going on?

I desgined a few logo? How do these look?

![prism](https://user-images.githubusercontent.com/36298335/40928701-f4b05ff6-682a-11e8-8d14-576706f51397.jpg)

[2018-06-07 19:57] cassionandi opened #70 "ClearPopupStackAsync or similar"
hi @dansiegel !

If ClearPopupStackAsync is deprecated on 2.0, how do I clean the PopUps from stack?

I have a normal Page that opens a PopUp, them User tab and another PopUp opens, when the User selects the options on the PopUp 2, a normal Page opens... so, I need to take all PopUps in front of the last opened Page.

[2018-06-07 20:52] dansiegel commented on #70
A couple of things here...

1. the `ClearPopupStackAsync` extension has not been deprecated.
1. say you have `ViewA/PopupA/PopupB` and you want to navigate to `ViewB`, you simply navigate to ViewB and your navigation stack will be `ViewA/ViewB`. Rg.Plugins.Popup does this automatically when you push any non-popup page.

[2018-06-07 20:52] #70 closed

[2018-06-07 20:52] dansiegel commented on #69
I really want to incorporate the Prism logo

[2018-06-08 14:38] cassionandi commented on #70
It's true, I misread about the `ClearPopupStackAsync`.

I am experiencing the following behavior.

It all starts with a Absolute URI: `http://minha.url.br/MainPage/NavigationPage/DashboardPage` to open the main page of a MasterDetail.

Then users navigate to
`await _navigationService.NavigateAsync("ProgramaPage);` to open the first PopUp

He navigates to the second PopUp
`await _navigationService.

[2018-06-09 09:44] reallinfo commented on #69
I do not quite understand what you mean. Any other ideas? We can design something together.

[2018-06-15 13:19] linnkrb commented on #70
I belive I am experiencing a similar problem, not sure if it is a prism problem or this, but this problem occurred for us when upgrading to prim 7.0 and then moving from  autofac popup extension to this.

We are trying to close two popups in one go as well (they are taking up the whole screen, could that be the problem ?), but it does not seam to work. First of all when I check  the GetNavigationU

[2018-06-15 13:45] linnkrb commented on #70
I have sort of a work around though.
Before I navigate to the other page B, I do
navigatonService.GoBackAsync() (could also do navigatonService.ClearPopupStackAsync())
Witch closes the secondPopup
and then in my other page B
in the onNavigatingTo  (this is not a popup) I do a navigatonService.ClearPopupStackAsync()

So I actaully have to call navigatonService.ClearPopupStackAsync() twice it seams

[2018-06-15 15:15] dansiegel commented on #70
@linnkrb your issue sounds like you forgot to register the PopupNavigationService. In 1.0 of the Plugin, all of the Navigation calls were extension methods. Now the only extension is the ClearPopupStack... If your PopupPages are taking up the full screen then it sounds like they've been pushed as a normal ContentPage which would happen if you didn't call the `RegisterPopupNavigationService` in you

[2018-06-15 16:44] linnkrb commented on #70
I register
containerRegistry.RegisterPopupNavigationService();
and this particular popups are fullscreen by choice, -mainly because of the previous lack of removing a page in the midle of the stack. I´m thinking I should probably refacor this though, but I have other places it would be useful to remove all popups, not only just the last one.

[2018-07-05 09:29] Tanim3k opened #71 "Prism.Plugin.Popups 1x : getting unity error for IOS"
I am getting this error when trying to build after included popup 1x, -
1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Xamarin\iOS\Xamarin.iOS.Common.targets(791,3): error : Can't resolve the reference 'Microsoft.Practices.Unity.IUnityContainer', referenced from the method 'Microsoft.Practices.Unity.IUnityContainer Prism.Navigation.PopupExtensions::get_s_container()' in '

[2018-07-18 14:43] linnkrb commented on #70
I see that with all my popups I do
containerRegistry.RegisterForNavigation<PaymentMenuPopupPage, PaymentPopupMenuViewModel>(PageConstants.PaymentMenu);   I haven't used autowiring for any of my navigation pages or popup pages, could this be the reason why it is not working as expected ? I see in your example (and the awesome prism template) that you are not registering the popup any where in the a

[2018-07-20 12:28] cassionandi opened #72 "An Android Back Button example"
hi folks.

I'm a little lost on how to implement the code of the `public override void OnBackPressed() ` suggested on the original Rg.Plugins.Popup wiki.

The code suggested is like this:
[code]

How to implement this `// Do something` with Prism.Plugin.Popups ?

[2018-07-23 19:58] #72 closed

[2018-07-23 20:23] cassionandi opened #73 "Popup won't close on navigation"
Hi!

Is this the correct behavior when you navigate to another page from a Popup? The page behind the popup chances, but the popup keep in front.

![Image of the App](https://media.giphy.com/media/T9ISgAVDkQeBV4iPym/giphy.gif)

[2018-07-23 20:36] dansiegel commented on #73
can you provide a simple reproduction app

[2018-07-23 20:37] dansiegel commented on #71
you're likely trying to mix Prism 7 with v1 of the plugin... use v2... I cannot release it as stable until Rg.Plugins.Popup releases a "Stable" package....

[2018-07-23 20:37] #71 closed

[2018-07-24 11:56] cassionandi commented on #73
I will try to strip down my work-in-progress app and provide you a sample.

[2018-07-31 11:46] Jaguel commented on #73
Hi.

[2018-07-31 11:56] Jaguel commented on #73
Hi .

This happens when we want to navigate to a normal page from a PopupPage. The new page shows up but the PopupPage is still open and actually PopupPage is not part of NavigationStack.

BTW I tested the same scenario with normal navigation (not prism INavigationService) and I still get the same behavior.

I created a very simple app that produces this issue [https://github.com/Jaguel/PrismPopup

[2018-07-31 14:18] dansiegel commented on #73
@jaguel thanks for providing a sample. I’ll look into this, this week.

[2018-08-01 12:44] cassionandi commented on #73
thanks for the sample @Jaguel. Sorry for the delay @dansiegel .

[2018-08-19 07:06] shashikant0423 commented on #53
Hi @dansiegel

I have the issue with the latest version of **Prism.Unity.Forms- 7.0.0.396** , Can you please suggest me how to solve, it's fine for iOS and error to occur only for Android

/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(2,2): Error: Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'Micros

[2018-09-02 18:13] REXiator commented on #73
@dansiegel Any ETA on this? Currently I have to make awkward workarounds, navigating back to the previous (non-popup) page with custom parameters and have the (non-popup) page perform the actual navigation if said parameters are found in the NavigationParameters. Would love to get rid of that ugly code.

[2018-10-10 10:50] hendriksandberg opened #74 "Not displaying content of ScrollView in PopupPage"
Hi,
i come along some strange behavior of the PopupPage in Prism.
I am trying to make a Disclaimer PopupPage which includes a ScrollView with Custom-Label and a Switch and at the end a Button.
The project is xam forms for android ios and uwp, actually testet in uwp.

The Button is displayed correctly but the content of the ScrollView isn't displayed.

Code of PopupPage:

`<pages:PopupPage xmlns="h

[2018-10-14 01:09] lewcianci commented on #69
@reallinfo WIthout being able to read @dansiegel's mind, I think he means he wants to incorporate the existing Prism logo into whatever is the Prism popup's logo.

You can see the prism logo from the bottom right of this picture.  I think this is the current Prism logo.

![image](https://user-images.githubusercontent.com/9065229/46911516-99187000-cfa1-11e8-9fe3-c33b7f3d3f53.png)

[2018-10-14 21:18] dansiegel commented on #69
@reallinfo sorry this issue got away from me here. Yes as @lewcianci mentioned, what I'm looking for is to incorporate the Prism logo

[2018-10-16 09:00] hendriksandberg commented on #74
I have some updates for the behavior of the problem.

It looks like it is dependend from which position i try to navigate to the PopupPage.
The base is a custom masterdetailpage where i want at startup to show a login popup and a disclaimer (if its the first start up).

When i try to navigate from the mastdetailpage, intialized with:

`_navigationService.NavigateAsync("CustomMasterDetailPage")`

i

[2018-11-12 01:42] torturegenitale commented on #73
I solved this issue like this :
`await NavigationService.NavigateAsync("MyTargetedContentPage"); //Navigate away from the popup
            await NavigationService.ClearPopupStackAsync(); //Close the current popup`

[2018-11-22 17:03] RadoslawKubas opened #75 "ClearPopupStackAsync closes only one popup (not all)"
ClearPopupStackAsync result is not success and only one popup is closed. The reason is because it calls

`var result = await navigationService.GoBackAsync(parameters, animated: animated);`

but override method in PopupPageNavigationService is

`public override async Task<INavigationResult> GoBackAsync(INavigationParameters parameters)`

so version with "animated" is not overridden.

[2018-11-22 20:44] muhaym opened #77 "Linker Settings - Link All or Link SDK Assemblies Causes Exception"
Hi,

Thanks for the Prism version of Popup Plugin, something I noticed during development is

If the project Linker Settings is set to Link All or Link SDK Assemblies (not sure on this), it causes

[code]

A simple workaround is to add Prism.Plugin.Popups to Link Skip for both iOS and Android

A potential fix would be marking the methods of registration with Preserve Flags

[2018-11-30 00:14] #73 closed

[2018-11-30 00:14] #77 closed

[2018-11-30 02:56] dansiegel commented on #75
fixed in 2.2

[2018-11-30 02:56] #75 closed

[2018-11-30 02:59] #74 closed

[2018-11-30 14:55] dansiegel opened #79 "Clearing the Popup Stack should not be animated"
Unfortunately closing issue was too fast. I just tested new version in my solution and it still not working.

ns.NavigateAsync("Page1");
ns.NavigateAsync("PopupA");
ns.NavigateAsync("PopupB");
ns.NavigateAsync("PopupC");
ns.ClearPopupStackAsync();

It closes only one, the last popup and again inside "while" loop "result.Success" is false. Same behavior as before.

I noticed one more thing, since t

[2018-11-30 16:39] RadoslawKubas commented on #79
Small clarification... ns.ClearPopupStackAsync(animated:false) works as expected, without disappearing animation. More important would be (if possible) to start all popup animations in same time. It would be perfect if it works exactly as it works in case CloseWhenBackgoundIsClicked event (as mentioned before). If more than one popup is opened and all of them has property CloseWhenBackgroundIsClic

[2018-12-12 11:10] RadoslawKubas opened #80 "ClearPopupStackAsync throw exception"
### Description
ClearPopupStackAsync always throw exception and close only one opened popup.

It seems that problem is as I described in #75.

Simple overriding also method with parameters not working in this case because GoBackAsync with more parameters is static INavigationServiceExtensions method, so can't be override. I created PR with some fix proposition before (#76) (this fix works, and eve

[2018-12-12 11:24] RadoslawKubas opened #81 "Navigating to other page close opened popups after navigation finish."
### Description
Navigation to other page if there are some open popups is closing all of them (what is nice) but it would be better to close them when the page transition starts (not after finish) and if possible with closing animation.

### Steps to Reproduce
1. Open 2 popups
`NavigationService.NaviageAsync("PopupA");
NavigationService.NavigateAsync("PopupB");`
2. Execute
`NavigationService.Navig

[2018-12-19 09:18] mr5z opened #82 "Popup within Popup"
Hi,

I am trying to navigate from a PopupPage to another PopupPage. Navigating back to the previous page using `NavigationService.GoBackAsync()`, it returns back an Exception although the popup page was visually dismissed.

Exception message:

**Edit**: Using `NavigationService.ClearPopupStackAsync()` yields the same result. This is happening both in iOS and Android.

[2018-12-27 02:45] dienbien001 opened #83 "Popup not display when navigate from Master Page"
Your works is awesome, it's work great for almost all place of my project, except when i call from my Master Page.
The code as below:
My Master Page:

[code]

Method on my ViewModel:
[code]
Method DisplayPopup is called, but the popup not display. I've added containerRegistry.RegisterPopupNavigationService() to my App.xaml.cs.
If i changed my button to use Clicked event and call event handle, it's

[2019-02-11 16:39] danilkurkin1 commented on #83
@dienbien001 Did you managed to come across this issue?
Have same problem where  await _navigationService.NavigateAsync("PopupPage");
doesn't do anything

[2019-02-11 16:50] danilkurkin1 commented on #83
@dienbien001 & everyone looking at this issue => When using Prism Templates for Popup, ViewModel constructor set to PROTECTED. Once it is changed to PUBLIC - popup is loading as it should.

[2019-02-12 04:25] dienbien001 commented on #83
My PopupPage just display a label, so i dont use ViewModel for it.
Could you take a look at my sample: https://github.com/dienbien001/PrismPluginPopupSample
Thank you very much.

[2019-02-12 08:29] danilkurkin1 commented on #83
@dienbien001 did you check if your command got hit? could be binding issues between your view and ViewModel for MainPage.
Also use nav service you are reciving via constructor

public MainPageViewModel(INavigationService navigationService)
            : base(navigationService)
        {
            Title = "Main Page";
           _navigationService = navigationService;
        }

         private

[2019-02-12 08:41] dienbien001 commented on #83
Yes the command got hit.

[2019-02-20 08:42] danilkurkin1 commented on #82
Happening to me too. Plugin is working but Application output shows that there was an System.NullReferenceException: Object reference not set to an instance of an object at PopupPageNavigationService.cs:135

[2019-03-19 12:24] MohDotNet opened #85 "Not finding method PushPopupPageAsync"
Good Day,

So i am using Xamarin, with Prism.  I have also installled the Prism.Plugins and followed the documentation how ever

i do not see this method
PushPopupPageAsync

when i go... naigationService.

kindly advise why am i not seeing it.
oh yes rg.plugins.popus is installed aswelled.

kind regards
Mohamed.

[2019-03-27 08:34] KSemenenko opened #86 "Clearing the navigation history, without using the "app:///NavigationPage/""
I have a situation when I need to clear the navigation history.
I found a solution to open a new page. and thereby erase history.
But this option does not suit me, since during the creation of the page I see a white screen for a while.
Therefore, I would like to be able to simply clear the navigation stack.
Is there such an options?

[2019-03-27 18:09] dansiegel commented on #86
Closing as Spam

[2019-03-27 18:09] #86 closed

[2019-03-27 18:10] dansiegel commented on #85
@mohamedDotNet can you please provide a sample that reproduces the issue.

[2019-03-27 18:14] dansiegel commented on #69
closing as stale

[2019-03-27 18:14] #69 closed

[2019-04-09 20:45] stephenhauck commented on #85
I needed this today and found the same issue.
So I made a template app using VS 2017 Enterprise and added the registration code but still not showing for me either ..
![image](https://user-images.githubusercontent.com/12648793/55833672-b310b680-5add-11e9-827b-e5a826967cea.png)

![image](https://user-images.githubusercontent.com/12648793/55833684-bc9a1e80-5add-11e9-8499-3f5161f0770e.png)

![image](

[2019-04-09 21:01] stephenhauck commented on #85
OK, just to make sure I made a new app from the template installed for VS 2017
When it added Prism.Plugin.Popups it did not show in NuGet list so I manually added it then recompiled ..
![image](https://user-images.githubusercontent.com/12648793/55834874-77c3b700-5ae0-11e9-957c-f4494afefac1.png)

It's still not showing
![image](https://user-images.githubusercontent.com/12648793/55834934-9f1a8400-5a

[2019-04-12 12:44] dbelz commented on #85
Because the 2 methods are deprecated as written on the readme page.

[2019-04-12 12:45] dbelz commented on #80
Any news on this topic? We are having the same problem.

[2019-05-07 16:18] canmrt commented on #82
I also have the same exception captured via prism ILoggerFacade.

"System.NullReferenceException: Object reference not set to an instance of an object\n  at Prism.Plugin.Popups.PopupPageNavigationService.InvokeOnNavigatedToAsync (System.Object view, Prism.Navigation.INavigationParameters parameters) [0x0012a] in D:\\a\\1\\s\\src\\Prism.Plugin.Popups\\PopupPageNavigationService.cs:135 \n  at Prism.

[2019-05-08 03:55] dansiegel commented on #82
closing for no reproduction.

[2019-05-08 03:55] #82 closed

[2019-07-03 11:46] arbesoft commented on #82
Hi,
here is an example how to reproduce the exception. After ClearPopupStackAsync the INavigationResult is Success False.
Steps:
1. Clone Repo: https://github.com/arbesoft/popupsample
2. Add Breakpoint at PopUpViewModel Line 30
3. Start Debugging --> Go To MasterDetailPage --> Then click openpopup --> then Click Back Button.

Result: You will get a NavigationResult with Success == False and Except

[2019-07-04 08:58] thisisthekap commented on #82
Also experiencing this issue. @dansiegel Would vote for reopening this issue.

[2019-07-18 12:25] mzhukovs commented on #83
Does this work for you @dienbien001 :
_navigationService.NavigateAsync("NavigationPage/PopupPage");

For me, @dansiegel , on Android and UWP the popup is coming up fine from my MasterDetail menu, and on iOS too, HOWEVER, shortly after the popup appears, with no further action, an exception gets thrown a couple of seconds later: **System.InvalidOperationException: Cannot remove root page when it is

[2019-07-19 08:58] Axemasta opened #98 "OnNavigatingTo Is Fired In The Wrong View Model"
I have noticed an issue with `OnNavigatingTo` firing in the wrong view model.

I have the following scenario, my app user gets to the end of the app's process and the app add a popup, this calls my api to complete the process. I then want to take the user back to the landing page (first page after login). The true URI for the navigation should look like this:

`/LoginPage/NavigationPage/LandingPag

[2019-07-24 14:06] HelenMamalaki commented on #82
I am also getting the same problem when navigating back from a Rg.Plugins.Popup.Page back to a TabbedPage. I get the same NullRefrenceException as @canmrt but on iOS only. On Android it works as expected. It looks like @abesoft has reproduced the issue. @dansiegel can this be opened please?

[2019-07-25 17:36] zinczinc opened #100 "Prism.DryIoc.Forms 7.2.0.1367 issue with Prism.Plugin.Popups 2.2.0.293"
- I started a new Prism.Forms Application from Prism Templates;
- I upgraded everything to Xamarin.Forms 4.1 (vesion 4.1.0.618606);
- I also upgraded Prism.DryIoc.Forms to version 7.2.0.1367
I recompiled and ran the application (MyApp.Droid). Everything worked fine. The main form correctly loaded and displayed the message: Welcome to Xamarin Forms and Prism.

After that, I added Rg.Plugins.Popup (

[2019-07-25 23:27] nyxiscoo1 commented on #100
+1
I’m experiencing the same issue after updating prism to 7.2.
Take a look please.

[2019-07-26 00:11] nyxiscoo1 commented on #100
Updating to 2.4.0.417-pre fixed the issue.

[2019-07-26 16:58] dansiegel commented on #100
2.2 was the last stable release which was not built against Prism 7.2... 2.4 was a preview because it was the last build to go out but built against 7.2... I should have an updated build out soon... I'll also be updating the versioning to make it easier to follow so builds will be versioned against what version of Prism it's built against.

[2019-07-26 16:58] #100 closed

[2019-07-26 16:58] dansiegel commented on #98
I would need a reproduction of the issue before I could try to fix this.

[2019-07-26 17:00] dansiegel commented on #85
this is not an issue as the methods requested no longer is supported. Just use NavigateAsync.

[2019-07-26 17:00] #85 closed

[2019-07-27 05:22] #83 closed

[2019-07-27 16:17] dansiegel commented on #83
This fix will be in the next release. Note that you will need to update to Prism 7.2.

[2019-07-27 16:24] #81 closed

[2019-07-27 16:25] dansiegel commented on #81
this issue should be resolved. Note that it will only animate if the animate bool is true.

[2019-07-27 16:44] dansiegel commented on #80
I haven't been able to reproduce this issue.

[2019-07-27 16:44] #80 closed

[2019-08-02 16:09] dansiegel commented on #98
@Axemasta I'm closing this as I haven't heard back from you. If you're able to provide a sample to demonstrate it with the newly released version of the plugin we can reopen this issue.

[2019-08-02 16:09] #98 closed

[2019-08-02 16:10] dansiegel commented on #79
this should actually be fixed in the latest release

[2019-08-02 16:10] #79 closed

[2019-08-23 07:45] KSemenenko opened #106 "Prism.Plugin.Popups 7.2.0.573 strange behavior with navigation from Popup"
Hi, I have discovered strange behavior compared to the previous version.
My flow:
1. NavigateTo ContentPage
2. From ContentPage NavigateTo PopUpPage
3. From PopUpPage NavigateTo ContentPage

In in the previous version, when I called NavigateTo with the PopUp page, it turned out that I switched to another page and the popup closed.

Now the popup is closing, but navigation does not happen.

[2019-08-23 17:00] akamud commented on #82
Same problem here.

[2019-08-25 09:10] gohopo opened #107 "Hardware back button doesn't fire OnNavigatedFrom"
hi bro, i found that `MyViewModel.OnNavigatedFrom`  is not fired on the `MyPopupPage` when i touch the hardware back button.

on Prism.Forms without PopupPage :
[code]

on Rg.Plugins.Popup:
[code]

[2019-08-26 09:14] JohnTraDolta commented on #106
i am able to reproduce this

[2019-08-26 10:59] JohnTraDolta commented on #106
as a workaround til they fix it you can do this

var currentNavigationProxy = PrismApplicationBase.Current.NavigationProxy;
var NavigationParameters = new NavigationPage(new PageToNavigateTo());
await currentNavigationProxy.PushModalAsync(NavigationParameters);

this worked for me

[2019-08-28 08:57] gutierrezralph opened #112 "Application crash after clicking the transparent background"
I was successfully installed and implement the required initialization for the plugins nut when I clicked the transparent background,
![image](https://user-images.githubusercontent.com/26339824/63841057-ac171180-c9b4-11e9-927c-16a4704938e0.png)

I have Error says " System.NotImplementedException: 'The method or operation is not implemented.' ".
![image](https://user-images.githubusercontent.com/26

[2019-08-29 05:19] dansiegel commented on #112
Can you provide a sample that reproduces this issue.

[2019-08-29 05:22] dansiegel commented on #106
please provide a sample that reproduces the issue

[2019-09-05 10:18] ksevery commented on #106
@dansiegel Here is a sample that reproduces the issue.

[PrismPopupsNavigationIssue.zip](https://github.com/dansiegel/Prism.Plugin.Popups/files/3578728/PrismPopupsNavigationIssue.zip)

[2019-09-05 15:38] dansiegel commented on #112
@gutierrezralph I am closing this as no reproduction has been provided. If you want to provide a sample that demonstrates the issue we can reopen the issue.

[2019-09-05 15:38] #112 closed

[2019-09-17 03:12] mzhukovs opened #113 "DryIoc Container Exception"
I get this exception when running in **Release** mode only and I have no idea why - can someone please help me with this? Works perfectly in Debug mode.

Windows 10, Visual Studio Enterprise version 16.2.5
Xamarin Forms version 4.2.0.778463
Prism.DryIoc.Forms version 7.2.0.1367
Prism.Plugin.Popups version 7.2.0.573
Rg.Plugins.Popup version 1.1.5.188

[code]

Here's my release settings in the andro

[2019-09-20 02:35] mzhukovs commented on #113
@dadhi hi I know you are DryIoc owner - have you encountered anything like this reported by other users in this context? if so would really appreciate any insight, thanks!

[2019-09-22 11:47] mzhukovs commented on #113
This error message was a red herring for a completely different, nested dependency that was not properly registered for the release mode build.... closing.

[2019-09-22 11:47] #113 closed

[2019-09-27 16:57] lypefm commented on #106
I have the same problem ... I try to navigate from a popup to a page and it just doesn't open.

[2019-10-02 18:58] andreybel commented on #106
I have same problem
@ksevery when I'm trying to use this syntax:
 await NavigationService.NavigateAsync("myapp:///OtherPage")
all next opened pages are not ContentPage.
They are opening as PopupPage (whitout title and tabbar in my case)

[2019-10-02 19:28] ksevery commented on #106
@andreybel Keep in mind - the "myapp:///" part of that navigation clears out your whole Navigation Stack and starts over from scratch. If you want to open a page within a NavigationPage, you need to specify that. Same if you're trying to open a page that should be able to navigate back to another page, e.g. if you want to navigate to Page 2, but that page should be able to do back navigation to Pa

[2019-10-02 19:43] andreybel commented on #106
I found my mistake
@ksevery  Thank you so much!

[2019-10-12 12:12] jitendrajadav commented on #106
I have a same problem

[2019-10-21 06:01] TKNos commented on #106
I can confirm this behaviour after updating to **7.2.0.573**.

[2019-10-21 11:30] JohnTraDolta commented on #106
Is it possible to make a pull request, my work is blocked by this.

Thanks in advance

[2019-10-21 12:02] TKNos commented on #106
I could not find a proper solution while I investigated the issue. Reverting the commit mentioned above would re-open issue #81 which it should fix. Just wanted to support @dansiegel with my findings: maybe it helps him find a solution for this issue.

[2019-10-21 12:07] JohnTraDolta commented on #106
Okay :)
i guess i could do that...
Thanks :)

[2019-10-21 12:14] dansiegel commented on #106
@JohnTraDolta yes it is very much possible to submit a PR... the CI is setup as well so that as soon as any PR is merged you'll be able to pull it from the dev feed

[2019-10-21 12:18] JohnTraDolta commented on #106
Okay i will look into it when i am off from work today

[2019-10-22 09:21] ricavir11 opened #118 "Update Rg.Plugin.Popup to V1.2.0.223"
Hi,

Can you please update Rg.Plugin.Popup to version 1.2.0.223 ?
A blocking issue as been fixed to work with iOS 13 : https://github.com/rotorgames/Rg.Plugins.Popup/issues/459

This update is very important as all apps using Prism.plugin.popups are impacted on iOS (at least if build is done with iOS 13 SDK)

[2019-10-22 12:04] trungbq1712 commented on #118
confirm that the issue is solved when updating Rg.Plugin.Popup to lastest version

[2019-10-24 08:08] lazarnikolov94 commented on #118
I can confirm. I just switched to the latest version of Rg.Plugin.Popups 1.2.0.223 and the crashing is gone.

[2019-10-24 08:43] dansiegel commented on #118
@ricavir11 I always update Rg.Plugins.Popup (assuming there is an update) when I release updates for this plugin. In the mean time if you are experiencing a bug with Rg.Plugins.Popup I suggest just adding it directly as a dependency to your project to get the update as long as there are no binary incompatibilities you should be fine.

[2019-10-24 08:43] #118 closed

[2019-10-30 13:10] MerlinSOI commented on #106
I also noticed that. Even if the popup navigation stack is empty (e.g. I call GoBackAsync previously), I still face the same issue - navigation to the content page is not working...

[2019-11-22 05:23] TKNos commented on #106
@JohnTraDolta Any insights on this issue?

[2019-11-22 07:01] jitendrajadav commented on #106
I got updated one version "**7.2.0.759**" but still it won't solved this problem

[2019-12-01 23:36] candidodmv opened #122 "[question] Is this plugin yet necessary ?"
Recently in version 7.2 Prism indroduce a new feateure called "Dialog Service" I've noticed that this library does essentialy the same job of "Dialog Service", my doubt is if this library does anything further that was implemented with "Dialog Service" ?

Thanks

[2019-12-02 14:03] dansiegel commented on #122
@candidodmv hopefully the docs help answer why / what is different. The entire point is that from a development experience creating Dialogs is 100% the same as it would be without the Plugin in... if you still need more clarification please let me know and I will try to answer the question https://popups.prismplugins.com/dialogs/

[2019-12-02 14:03] #122 closed

[2019-12-02 19:55] candidodmv commented on #122
Thanks @dansiegel your answer was enough to clarify.

[2019-12-03 03:24] nrooban commented on #106
I believe, Rg.Plugins.Popup had compatibility issues with iOS 13 and they fixed it.
Since Prism.Plugin.Popups depends on Rg.Plugins.Popup. They also updated with the version 7.2+.
But unfortunately, they have not fixed in version 2.2.0.293.

Since Prism.Plugin.Popups fixed in 7.2+ and also its depends on Prism Library version 7.2 project must be updated with Xamarin 4+.

Since Prism V7+  wont fire

[2019-12-03 04:29] dansiegel commented on #106
@nrooban

- Prism 7.2 does not target Xamarin.Forms 4+. It targets 3.6 and is tested with everything between 3.6 and the 4.4 preview
- If there is an issue with Rg.Plugins.Popup, as long as there isn't a breaking change there you should be able to update the reference
- I don't do service releases for previous versions unless I'm paid for it. It's extra work for which I have no personal interest o

[2019-12-03 06:53] nrooban commented on #106
@dansiegel Thank you for the update. I truly understand that we are using prism for free and we cant expect more service for free.

Just to be cleared. Please let me know that, in order to work prism.plugin.popups perfect in iOS 13 we must use version 7.2 along with Prism 7.2. If yes, We should do other break updates from prism 7.1 to 7.2 if we encountered any issues in our apps.

Am I correct to

[2019-12-04 06:39] pravincarvalho opened #123 "Support for IApplicationLifecycleAware delegates"
If a popup window is open, I noticed that the IApplicationLifecycleAware delegates for the PopupViewModel are not invoked when the application OnSleep and OnResume delegates are invoked.
The delegates are invoked on the base page that opened the popup.

I looked through the source and it seems like this is not yet implemented. I do think that it is a useful feature to have. Would you like to put i

[2019-12-04 20:05] dansiegel commented on #123
I'll have to think about what the best way to expose this will be. In the mean time you can use this as a work around:

[code]

[2019-12-16 14:55] mfranc28 opened #126 "VTable setup of type Prism.Plugin.Popups.PopupPageNavigationService failed on iOS"
Having this error on iOS, Android version is ok

[2019-12-16 15:40] dansiegel commented on #126
closing as this is not an actionable issue. There are no details or reproduction.

the error VTable setup typically occurs with linker issues and when you have binary incompatibilities. Since you've provided no details it's impossible for me to provide more insight into this.

[2019-12-16 15:40] #126 closed

[2020-01-02 06:08] jitendrajadav commented on #106
Any update on this issue?

[2020-01-04 01:54] dansiegel commented on #106
@JohnTraDolta was this something you were still working on?

[2020-01-06 09:51] jitendrajadav commented on #106
Yes I have problem with my existing application earlier it was working fine but once I have updated it won't work form pop up to navigation please fixe this

[2020-01-06 10:11] JohnTraDolta commented on #106
Yes i'm sorry but i havn't found the time for fix this

[2020-01-16 03:39] mr5z opened #129 "No Page in PopupStack"
Hi,

We've been experiencing this issue since I posted this: https://github.com/dansiegel/Prism.Plugin.Popups/issues/82

I believe the issues lies with this line:
https://github.com/dansiegel/Prism.Plugin.Popups/blob/bb547ca898e3446de3570dab6aa43135821a1d71/src/Prism.Plugin.Popups/PopupPageNavigationService.cs#L287

From Rg.Plugins.Popup, [they put lock before accessing the list](https://github.co

[2020-01-23 08:21] kerbooo commented on #106
Same problem is here :(

[2020-02-06 09:32] jitendrajadav commented on #106
Any updated on this issue I am not sure when this issue is going to updated my entire work is blocked due to this problem almost 5 month

[2020-02-06 15:05] dansiegel commented on #129
closing this as there is no reproduction

[2020-02-06 15:05] #129 closed

[2020-02-06 15:09] dansiegel commented on #106
@jitendrajadav a few things here...

- This is an open source library not a paid product. I work on this is my spare time.
- Priorities go to issues that affect me, and issues that are affecting my [GitHub Sponsors](https://github.com/sponsors/dansiegel) which sadly nobody on this thread is.
- I do take PRs

[2020-02-06 15:21] mr5z commented on #129
I think this is a valid one although it's from another post but the same issue:

https://github.com/dansiegel/Prism.Plugin.Popups/issues/82#issuecomment-508059506

[2020-02-06 15:59] kerbooo commented on #106
@dansiegel yes your are mostly right and thank you for your good works. But I think you are a not a kind person and selfish man. My suggestion for you please get out from Open Source world. Because you are not working without a coin as I understood.

[2020-02-06 16:04] ksevery commented on #106
@kerbooo This is a comment that is not in any way useful to the discussion here. Open Source does not mean the library needs to be fixed by the creator whenever there is an issue. It means other people can contribute to make it better and you don't have to pay to use it, but it comes with the risk of it either being dropped for support or your issue not getting fixed if no one gets around to fixin

[2020-02-06 16:20] kerbooo commented on #106
@ksevery thank you for your explain. There are so many people in the world. Every person is different. @dansiegel is important person because of his works. But he should claim his valuable works. I am learning good things from his works but I am not good developer as @dansiegel to solve this issue. I think there are so many people. I have read so many comment as he wrote as above. If you are good

[2020-02-06 16:26] aritchie commented on #106
@dansiegel gives a TON to the community - many times more than he takes.  He's a fantastic guy all round.  To call him selfish and not kind @kerbooo is extremely rude, unnecessary, and hypocritical on your part.  You don't know him personally.  You have zero repos and zero contributions on github.  It is you who should leave OSS.

@jitendrajadav you keep complaining you are blocked and asking for

[2020-02-06 16:49] dansiegel commented on #129
@mr5z you didn't provide a reproduction on this issue.

[2020-02-06 16:53] kerbooo commented on #106
@aritchie you can say everthing but you can not say hypocritical to me. Because I have wrote as How I felt. Yes I do not have any repo because I am a newbie. @dansiegel is master. I think you too. But masters should be helpfull and stronger.

[2020-02-06 17:05] dansiegel commented on #106
@kerbooo your comments are incredibly rude and not at all helpful either to the issue at hand or to your goal of putting me in a mood where I want to spend my free time fixing this issue. I could charge for this if I wanted but I choose to make it freely available to help people. If you find my work so helpful then I would suggest you show your gratitude with a monthly contribution as a Sponsor. I

[2020-02-06 18:11] andreybel commented on #106
Hi all!
Maybe it will be useful to someone:
I am using MessagingCenter () to navigate from a pop-up page to another page. This is not perfect, but it works for me)

[2020-02-06 20:16] kerbooo commented on #106
@dansiegel OK. How would you like to do you can. You can block me. I did not write wrong things. Anyway thank you for your good works. I have just shared my opinions. I think so many people feel like me. I am not a boss just a employee but If you need I can share my money with you. Good work.

[2020-02-07 04:54] kerbooo commented on #106
Hi all. That is last comment for me. Bug and new feature request are different things. If the code has bug that means it can not be useable. Yes all of us use open source things and we should help. Inform about bug to owner is a kind of help too. But firstly the owner of the code claim her or him works on the bug status. Because owner knows codes logic better than anyone. If the bug does not fix n

[2020-02-07 06:51] nrooban commented on #106
@kerbooo, I my self decided to discontinue to use Prism even Xamarin and moved to flutter. Do not limit your self as you have the answer from the creator of this plugin. So this plugin was useful, but not anymore, may be in future. Thank you @dansiegel for the support and understanding.

[2020-03-05 09:21] ksevery commented on #106
Hey everyone, I've submitted a PR that fixes the issue, at least in my very conservative testing. If anyone would like to, you can take the branch and test in your own cases so we can find any issues that may come up as a result of the fix. The PR is #136

[2020-03-31 13:55] #106 closed

[2020-04-02 00:03] JohamVan commented on #106
@dansiegel How long should it take for the Nuget package to have these changes?
Thanks advance

[2020-04-06 14:11] dansiegel commented on #106
@JohamVan builds are always available via the CI feed within a few minutes of a PR being merged. That said I'll be releasing this on NuGet this morning.

[2020-04-06 18:24] JohamVan commented on #106
@dansiegel thank you very much.

[2020-04-14 13:09] TKNos opened #144 "Absolute navigation started on popup page does not clear the navigation stack"
I updated to the latest version **7.2.0.1046** to test the fix for #106. While I can confirm that issue #106 has indeed been resolved, I discovered a new issue:

1. Start at `ContentPageA`
2. Perform a relative navigation to `ContentPageB`
3. Perform a relative navigation to `PopupPage`
4. Perform an absolute navigation to `ContentPageC`

After step 4, `ContentPageC` is shown but the navigation st

[2020-04-19 18:11] borninmusic commented on #144
Experiencing exactly the same issue.
Rolling back to **7.2.0.759** fixes this behavior.

[2020-04-29 07:09] winsonet opened #148 "prism:DialogLayout.CloseOnBackgroundTapped not working"
I want to use the Prism dialog service in this popups plugin, but when I tried to set the ```CloseOnBackgroundTapped```  and found that's not working (even in your sample project), but I tried other DialogLayout attributes also works fine

Thanks!

[2020-04-29 14:48] dansiegel commented on #148
thanks @winsonet I'll take a look at this when I have a free moment to

[2020-05-13 08:29] techduggu commented on #148
Hi @dansiegel
I've also used Prism.Plugin.Popups plugin with Dialog Service and I can add below further information/findings (maybe it helps you during investigation when you get time):

- For me, `prism:DialogLayout.CloseOnBackgroundTapped="True"` is working fine with default position attributes
- If I try to add any Relative position (e.g. `prism:DialogLayout.RelativeHeightRequest="0"` to displa

[2020-06-08 07:16] studeruss commented on #144
We also experience the same issue

[2020-06-20 03:17] dansiegel opened #153 "Fix SourceLink & Deterministic Build"
The package is currently in an erred state for SourceLink, Deterministic build and is failed for Compiler Flags

![image](https://user-images.githubusercontent.com/3860573/85190093-b1a65680-b269-11ea-9f09-a2d678db8871.png)

[2020-06-26 01:19] vincooys commented on #144
Interestingly enough, this issue also exists when not navigating from a popup page.

I updated Prism.Plugin.Popups to the latest version (7.2.0.1046), and when navigating like this from another navigation page:

_navigationService.NavigateAsync("/" + nameof(CustomTabbedPage), null, false, true);

...the navigation stack isn't cleared. Took me a while to figure out that it was the plugin popup that

[2020-08-03 07:40] pravincar opened #156 "Destroy is not invoked during navigation from PopupPage to a ContentPage"
While closing a popup page, invokes the Destroy method, navigating from a modal page to a new content page closes the modal page without firing the Destroy method.
This leaves allocated resources and event handlers around since the Destroy method is intended to clean up these resources.

This issue has been observed with the following version
Prism.Plugin.Popups : 7.2.0.1046
Rg.Plugins.Popup: 2.0.

[2020-08-24 23:14] #144 closed

[2020-08-24 23:15] dansiegel commented on #144
This issue is now fixed and is available to sponsors in the SponsorConnect feed.

[2020-08-24 23:36] #156 closed

[2020-08-24 23:38] dansiegel commented on #156
This is fixed and available in the Sponsor feed at SponsorConnect

[2020-09-02 09:23] pravincar commented on #156
@dansiegel Thanks!

[2020-09-21 11:36] NoSymmetryCode opened #165 "Provide a way to disable popup animation"
Hi,

in my application I need to be able to disable popup animations, but as far as I can see Prism.Plugin.Popups provides no way of setting the IsAnimationEnabled property of Rg.Plugins.Popup.Pages.PopupPage.

It would be nice to have a way of settings the IsAnimationEnabled property.
Perhabs by using an attached property like it's done with HasKeyboardOffset and HasSystemPadding.
Or by using Kno

[2020-09-24 09:35] pravincar opened #166 "NRE on Android when a new activity is opened"
This issue has been observed on Android 9 and 10
The problem exists on the current master branch as well as v7.2.1046

The issue is reproducible in the sample app that is part of this project too. I have attached a video showing steps to reproduce the issue along with the code I modified to log the exception.

Essentially Android creates a new activity which I expect should return the app to the i

[2020-09-24 14:29] dansiegel commented on #165
you already should be able to control that by passing the Animated = false parameter. If that isn't working then please get me reproduction and we can reopen the issue.

[2020-09-24 14:44] dansiegel commented on #166
So to confirm your steps are:

- Navigate to `NavigationPage/SomePage`
- Navigate to a PopupPage
- Hit the hardware back on the Android device

To be honest I'm not sure that this is going to be fixable since PrismApplication is listening for an event that I cannot exactly make it stop listening to, so the error is actually coming from inside Prism because as far as Prism.Forms understands you onl

[2020-09-24 14:46] dansiegel commented on #153
This issue is resolved with the latest .NET SDK
![image](https://user-images.githubusercontent.com/3860573/94160973-0eea0f00-fe3a-11ea-850e-2e1c82352910.png)

[2020-09-24 14:46] #153 closed

[2020-09-24 14:56] NoSymmetryCode commented on #165
Thanks for your reply!
I can't seem to find a way to disable the animation when using IDialogService (PopupDialogService).
There is no ShowDialog with Animated parameter.

[2020-09-24 16:52] dansiegel commented on #165
Sorry I missed that you were referring to the Dialogs... let me think about how I'd like to implement that but that wouldn't be a bad enhancement

[2020-09-25 10:47] pravincar commented on #166
Thanks for the quick response. The steps you have listed are correct. We have also observed this behaviour on clicking a notification to get back into the app on Android.
https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/activity-lifecycle/#back-vs-home

I did some further investigation today and I agree that it may not be fixable in this codebase. Essentially, Android creates a ne

[2020-09-25 14:14] NoSymmetryCode commented on #165
Awesome.
I would be glad if we can add this feature in the next few weeks.
Let me know if I should help implementing this.

[2020-09-25 15:23] dansiegel commented on #165
If you'd like to implement it that'd be great since it'll be a while before I have the time to deal with it.

This should check the DialogParameters for a known dialog parameter like `animated=false` after we've merged the querystring with the passed in DialogParameters. If the key is not present it should default to true, otherwise it should take whatever value was passed. If you have any questio

[2020-09-25 16:04] jbachelor commented on #166
Thanks for those details, @pravincar. I have been wrestling with a seemingly different issue, but based on what you're saying I believe it may be the same root cause. In my case, however, the issue occurs for both Android and iOS, and appears to be the result of displaying a popup, and then immediately navigating following the popup's dismissal:
1. Show popup.
2. When popup is dismissed, the handl

[2020-09-28 12:13] NoSymmetryCode commented on #165
I'm currently working on an implementation.

However `KnownDialogParameters` and `DialogLayout` are part of Prism.Core which means I'll need to make a PR for the Prism repository as well. Would you recommend opening an issue for this on the Prism repository or do I just make the PR and link this issue to it?
Or would you prefer introducing similiar classes to `KnownDIalogParameters` and `DialogLay

[2020-09-28 13:55] dansiegel commented on #165
No in this case you'll need to create a similar class in the Popups plug-in. Something like KnownPopupDialogParameters

[2020-09-29 02:51] jbachelor commented on #166
I have a [small sample app](https://github.com/jbachelor/XFPrismSample/tree/localNavSvc) that I believe reproduces the problem. Make sure you are looking at the "localNavSvc" branch.

[2020-09-29 06:43] pravincar commented on #166
@jbachelor I've seen the problem that you have described in some scenarios too. However, it is different from the issue I have reported here.
I have implemented a workaround in my app to get rid of the Task.Delay.

Create a popup pop observable which subscribes to the PopupNavigation instance in Rg.Plugins.Popup
[code]

Wait for the popup to get cleared before any further navigation

[code]
This m

[2020-09-29 07:21] chaoyebugao commented on #148
Same Problem here. use `prism:DialogLayout.LayoutBounds="0.5, 0, -1, -1"` instead of  RelativeHeight/RelativeWidth not work for me.

[2020-10-05 16:02] jbachelor commented on #166
Thanks so much for this, @pravincar! I'll have to look into that idea... Need to read up a bit on Rx first.  :)

@dansiegel - Should I open up a separate issue for what I've experienced?

[2020-10-06 08:41] NoSymmetryCode commented on #165
@dansiegel Do you have an estimate when you will find the time to review my PR?

[2020-10-07 05:46] HirakCTS opened #169 "While using accessibility(TalkBack) on popups on Android, Focus also goes to background view.[Bug]"
I am using popups in Android. While i turned on accessibility, focus of TalkBack also goes to dimmed background view. It supposed to stay on the popup only.
Expected Behavior - Focus supposed to stay on popup view only
Actual Behavior - Focus goes to background view as well. Breaking functionality of accessibility.

[Refer this](https://github.com/xamarin/Xamarin.Forms/issues/12251)

[2020-10-07 14:49] dansiegel commented on #169
@HirakCTS it would seem that your issue is with [Rg.Plugins.Popup](https://github.com/rotorgames/Rg.Plugins.Popup). The Prism.Plugin.Popups is only a thin wrapper to help Prism applications seamlessly utilize Rg.Plugins.Popup.

[2020-10-07 14:49] #169 closed

[2020-10-26 19:32] RonnyBansemer opened #174 "Prism 8 compatibility"
Hi, I really love this awesome plugin. But any information when a prism 8 compatible package will be released? Thanks in advance :-)

[2020-10-26 20:23] dansiegel commented on #174
Prism 8 compatibility is already available on Sponsor Connect. I'll release it on NuGet.org when I get a chance

[2020-10-26 20:23] #174 closed

[2020-10-28 21:22] RonnyBansemer opened #175 "Android Linker Issue"
The plugin doesn't work using release build with android link mode SdKOnly.

**Affected versions:**
Popups: 8.0.18-beta
Prism: 8.0.0.1909

I guess it's affected by [Brian Lagunas commit](https://github.com/PrismLibrary/Prism/commit/faad634d663ea1e15fb9a789bec133ae9538e5dd).
It would be nice if the plugin will work with the current stable prism version.

[code]

[2020-10-28 23:17] dansiegel commented on #175
hi @RonnyBansemer thanks for letting me know about the issue. I believe we just need a new build built against Prism 8.0.0.1909. Should be available on the Sponsor Connect feed shortly

[2020-10-28 23:48] #175 closed

[2020-10-28 23:56] dansiegel commented on #175
8.0.22-beta is now available on Sponsor Connect and is built against Prism 8.0.0.1909. It would indeed seem that the commit to remove IAutoInitialize killed backwards compatibility. Let me know if you have any more problems

[2020-11-06 06:17] NamCkiku opened #179 "When Prism 8 Release update in Nuget ?"
protected override void RegisterTypes(IContainerRegistry containerRegistry)
{
    // This updates INavigationService and registers PopupNavigation.Instance
    containerRegistry.RegisterPopupNavigationService();
}
Crash with Prism 8

[2020-12-02 16:04] dansiegel commented on #179
The package is available in the Sponsor Connect CI feed. I will release to NuGet when I feel it is ready for public release.

[2020-12-02 16:04] #179 closed

[2020-12-09 13:44] kerbooo opened #187 "An unexpected error occurred while resolving 'Prism.Navigation.INavigationService'"
Hello, I am using **Prism Forms **8.0.1909.**** After adding as following line for using **Prism.Plugin.Popups **7.2.0.1046****

[code]

I am getting as following error
`
Prism.Ioc.ContainerResolutionException: 'An unexpected error occurred while resolving 'Prism.Navigation.INavigationService''`

After remove `containerRegistry.RegisterPopupNavigationService();` line, I am not getting any error bu

[2020-12-09 14:46] dansiegel commented on #187
These two packages are not compatible. The Popup Plugin for v8 has not yet been released to NuGet.org. A compatible package is however available on SponsorConnect.

[2020-12-09 14:46] #187 closed

[2020-12-14 11:50] jitendrajadav opened #189 "Mono.Linker.MarkException in Release mode android"
I have install "Prism.Plugin.Popops" and trying to deploy my build on to device in release mode but it is not successfully build I am getting error like below.

How to reproduce:
1. Create Xamarin.Forms application.
2. Add Prism packages from NuGet including Rg.Plugins.Popup
3. changes you debug mode to release and try to build it.

`Severity	Code	Description	Project	File	Line	Suppression State
Er

[2020-12-28 08:56] developer9969 opened #191 "Release version 8 to be compatible with prism 8"
Hi
It is my understanding that if you are using prism 8 you need the latest version of this plugin and version 7.2 is not compatible.

We have not been able to upgrade to prism 8 and starting using regions for this reason.

Is this true?

if so is there any plans to release to the public?

many thanks

p.s
did ask my company to sponsor you guys I will find out after the holidays.

[2020-12-28 15:10] dansiegel commented on #191
You are correct if you are using Prism 8 you would need the v8 version of this plugin which is currently only available to Enterprise Support customers and GitHub Sponsors.

The short answer is yes I do plan on releasing v8 of this plugin to NuGet.org. I do not have a planned date as it ultimately comes down to when I have the time to deal with some of the outstanding issues.

[2020-12-28 16:42] developer9969 commented on #191
thanks for your reply, hopefully It won't be long :)

[2021-01-06 15:17] dansiegel commented on #191
a beta version has been released to NuGet

[2021-01-06 15:17] #191 closed

[2021-01-07 16:45] RadoslawKubas opened #192 "InvalidCastException after update Rg.Plugins.Popup to 2.0.0.9"
First of all, thank you very much for releasing to NuGet Prism 8 compatible version.

I didn't noticed any problem when using it with Rg.Plugins.Popup 2.0.0.7, but after updating to 2.0.0.9 there is **InvalidCastException** during opening popup. There are some breaking changes between 2.0.0.7 and 2.0.0.9 , but 2.0.0.7 has some issues on iOS, so update is necessary in my case. In case problem is ju

[2021-01-08 07:02] RadoslawKubas commented on #192
When I was preparing a reproduction sample I noticed that it was my mistake in Rg.Plugin.Popups  initialisation

`Rg.Plugins.Popup.Popup.Init(Android.App.Application.Context);`

After correct

`Rg.Plugins.Popup.Popup.Init(this);`

everything is fine. I'm sorry.

[2021-01-08 07:02] #192 closed

[2021-02-01 15:58] UweReisewitz opened #196 "Xamarin.Forms.WPF - Strong Name Issue"
Hi,
I've tried to use Prism.Plugin.Popups with Xamarin.Forms.WPF.
When using 7.2.0.1046 I get the following exception:
public App(IPlatformInitializer initializer)
            : base(initializer)
        {
        }
System.IO.FileLoadException
  HResult=0x80131044
  Message=Die Datei oder Assembly "Prism.Forms, Version=7.2.0.1422, Culture=neutral, PublicKeyToken=null" oder eine Abhängigkeit davon

[2021-02-01 16:02] dansiegel commented on #196
Prism.Core, & Prism.Wpf are all strongly named assemblies... for Prism.Forms there is no reason for it to be strongly named. Also since you haven't provided a reproduction of the issue I can't really do anything to look into what your issue is.

[2021-02-01 16:02] #196 closed

[2021-02-01 17:13] UweReisewitz commented on #196
I'm sorry. Of course I should have done this first.

I have created the following repository to showcase the problem:
https://github.com/UweReisewitz/PluginPopups
It contains the most basic  Xamarin Forms Prism application (Implementation and WPF project). It curently uses 7.2.0.1046 of the Prism.Plugin.Popups. It compiles fine but fails at runtime with the error mentioned above.
If I comment out

[2021-02-01 18:17] UweReisewitz commented on #196
PopupPageNavigationService derives from PageNavigationService which is defined in Prism.Forms.

Prism.Plugin.Popups is a strong named assembly, Prism.Forms is not. Therefore Prism.Plugin.Popups is unable to laod this assembly.

Makes sense?

[2021-02-03 17:31] UweReisewitz opened #197 "Xamarin.Forms.WPF - Strong Name Issue (Previous Report in #196)"
Hi,
for the problem already mentioned in #196 I have I have created the following repository to showcase the problem:
https://github.com/UweReisewitz/PluginPopups
It contains the most basic Xamarin Forms Prism application (Implementation and WPF project).

I apologize for not creating this in the first place.

The project curently uses 7.2.0.1046 of the Prism.Plugin.Popups. It compiles fine but fa

[2021-02-04 21:49] mibuswolf opened #198 "Error on Prism 8.0.0.1909 Prism.Plugin.Popups 7.2.0.1046"
[error.zip](https://github.com/dansiegel/Prism.Plugin.Popups/files/5928741/error.zip)

 protected override void RegisterTypes(IContainerRegistry containerRegistry)
        {

            containerRegistry.RegisterSingleton<IAppInfo, AppInfoImplementation>();
            containerRegistry.RegisterPopupNavigationService();

            containerRegistry.RegisterForNavigation<NavigationPage>();

[2021-02-04 22:26] dansiegel commented on #198
Those two package versions are binary incompatible... you will need to use the v8 version of the Popup plugin if you're targeting Prism 8.

[2021-02-04 22:26] #198 closed

[2021-02-06 17:42] UweReisewitz commented on #197
I have downloaded the code and have built it locally. I just removed the strong name key signing of Prism.Plugin.Popups and it worked fine with Xamarin.Forms.WPF.

Hope that helps.

[2021-02-23 03:15] ErickSilva2605 commented on #189
would anyone have a solution for this?

[2021-02-23 15:42] #197 closed

[2021-02-25 05:30] #148 closed

[2021-02-25 05:34] dansiegel commented on #189
The solution is simple... don't use the 7.2 version of Prism Popups with Prism 8... they are binary incompatible.

[2021-02-25 05:34] #189 closed

[2021-02-28 11:56] jdarmody commented on #166
@dansiegel - Seems like the NRE isn't happening anymore in the latest copy of master?

Also the handling of the Android hardware back button in the sample app can be done by overriding the OnBackPressed in the MainActivity (see https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#android-back-button). But I think maybe we need a Prism.Plugin.Popups version of Rg.Plugins.Popup.SendBa

[2021-02-28 15:15] dansiegel commented on #166
@pravincar as this has been reported by both @jbachelor and @jdarmody as not happening anymore I'm going to close the issue. If it continues to please let me know and we'll reopen the issue.

[2021-02-28 15:15] #166 closed

[2021-02-28 20:38] #107 closed

[2021-02-28 20:51] dansiegel commented on #123
Support for this will be added shortly. Please note that under no circumstance should you use the PopupPlugin OnResume/OnSleep and call PrismApplication's base implementation. That would result in calling both the correct and incorrect page.

[2021-02-28 21:01] #123 closed

[2021-03-01 06:19] pravincar commented on #123
Thanks @dansiegel for getting back on this!

[2021-04-30 11:56] Axemasta opened #215 "Orientation Changes Do Not Update PopupView Layout"
I noticed that when my device orientation changed whilst a popup was presented the popup was not being displayed correctly. A completely centered view will become offset after the device orientation changes.

[code]

I have recreated the issue and it appears to be due to using Prism 8.0.0.1909 + Beta 8.0.31-beta. The same project with Prism 7 behaves as expected & updates the view when orientation

[2021-05-04 16:57] RadoslawKubas opened #217 "[Regression] LinkAll"
After update to 8.0.76  #77 returned. It was fine in 8.0.31-beta.

[2021-05-04 16:58] dansiegel commented on #217
you should be able to add a linker config to preserve the Popup Plugin.

[2021-05-04 17:00] RadoslawKubas commented on #217
Yes, thank you, with linker it works perfect, just wanted to report the change.

[2021-05-04 17:05] dansiegel commented on #217
appreciate you letting me know. Moving forward this responsibility is on the developer to manage with the Linker config

[2021-05-04 17:05] #217 closed

[2021-05-04 17:08] dansiegel commented on #215
Closing as this was solved in the CI feed. If the latest release breaks this please let me know.

[2021-05-04 17:08] #215 closed

[2021-07-26 13:51] boufran1 opened #233 "[Bug] Using Prism.Plugin.Popup in combination with IConfirmNavigationAsync breaks GoBack navigations"
### Description
 Hi Dan, I am using the Prism bug template to submit this bug. I took some time to debug the issue on my own. It appears that when a Dialog is show to confirm whether the user wants to navigate back or not, the go back navigation fails when the value is positive. The dialog closes but the override in DoPop in PopupPageNavigationService returns a null page instead of the current pag

[2021-08-17 10:34] maxchu92 commented on #233
@boufran1 It seems like your MainActivitiy.OnBackPressed, is set incorrectly, please check [https://popups.prismplugins.com/navigation/backbutton/](https://popups.prismplugins.com/navigation/backbutton/)

[2021-08-17 10:38] maxchu92 commented on #233
@boufran1  try this [https://popups.prismplugins.com/navigation/backbutton/](https://popups.prismplugins.com/navigation/backbutton/)

[2021-08-17 10:42] maxchu92 opened #237 "Back to root navigation not working"
### Description
Hi Dan, I am not sure is this suppose to be a problem of Rg.Plugin, or some slight adjustment needed in the Prism.Plugin.
I made a sample app to reproduce the issue.

### Steps to Reproduce
1. Load the app in android.
2. Navigate to PopupTestPage using the displayed button.
3. Hit the Back To Root button. Can use both XAML or ViewModel Command.
4. Observe that the backward navigati

[2021-08-17 13:17] maxchu92 commented on #237
I was able to temporary fix this issue by registering `IPopupNavigation` with `PopupNavigation.Instance` in App.xaml.cs with dependecy injection, and use the injected `IPopupNavigation` in the ViewModel like `_popupNavigation.PopAllAsync()`

[2021-09-01 14:53] BurkusCat opened #238 "PlatformExtension.GetOrCreateRenderer - System.ArgumentNullException - Crash on Android"
Description:
Crashes are happening for `PopupNavigationImpl.AddAsync` and `PopupNavigationImpl.RemoveAsync` (this one is most common).

From popup pages, I am using absolute navigation to move to another page + close the popup e.g.:
[code]

This is how we open popups in our view models:
[code]

I can see reports in app center from 20~ users on Android devices 5, 6, 9, 10, and 11. Most reports are

[2021-09-01 15:06] #238 closed

[2021-09-15 00:30] davibittencourtome opened #239 "GoBackAsync does not trigger OnNavigateTo if using FlyoutPage"
No projeto de amostra, ao navegar a partir do exemplo "FLYOUT PAGE", o `GoBackAsync` não dispara o `OnNavigatedTo` da viewModel `MainPageViewModel`:

[https://github.com/dansiegel/Prism.Plugin.Popups/blob/b35e05473e23493b75cdd2ab617fde0300d84ce3/samples/src/PopupPluginSample/ViewModels/PopupViewModel.cs#L52](url)

`
private async void OnNavigateBackCommandExecuted()
        {
            await _na

[2021-09-15 01:50] dansiegel commented on #239
Prism 8.0 does NOT support FlyoutPage

[2021-09-15 13:36] Andreas0xffff commented on #239
We use Prism 8.1 and FlyoutPage is supported by this version.
[Corresponding Pull request](https://github.com/PrismLibrary/Prism/pull/2403)

Is the problem that FlyoutPage should also be added at this code position?
[Prism.Plugin.Popups.Extensions.PageExtensions](https://github.com/dansiegel/Prism.Plugin.Popups/blob/48368a682a32a3f573d954dfb7207931e2a165c5/src/Prism.Plugin.Popups/Extensions/PageEx

[2021-09-15 13:55] davibittencourtome commented on #239
Exactly @Andreas0xffff , we are using version 8.1.97.  We will have to wait for an update with this fix.

[2021-09-15 15:07] Andreas0xffff commented on #239
@davibittencourtome
Wait for an update of PrismLibrary/Prism (current version 8.1.97) or dansiegel/Prism.Plugin.Popups (current version 8.0.76)?
The Prism.Plugin.Popups alredy references 8.1.97 in its csproj.
I think this issue should be reopened.

[2021-09-21 13:17] Andreas0xffff commented on #239
@dansiegel
Any news on this?

[2021-09-21 13:31] davibittencourtome commented on #239
I'm working around with EventAggregator to get around the problem, until a new corrected version comes out

[2021-09-22 22:53] itoledo commented on #239
same issue, reverting to MasterDetailPage works.

[2021-09-22 23:16] dansiegel commented on #239
This is an open source repo, and I do take PRs. However keep in mind that I am busy with several different libraries and am unlikely to get to this in the next month.

[2021-12-04 08:53] AMANUELAB opened #249 "this is not fair you develop this complecated things and made it even harder to use Rg.Plugins.Popup"

[2021-12-04 21:33] dansiegel commented on #249
Any further comments like this and you find yourself banned from all Prism repos. I provide this for free and in my spare time. If you require enterprise support you will need to pay for it.

[2021-12-04 21:33] #249 closed

[2021-12-15 10:53] Axemasta opened #250 "8.1 Support"
Hi Dan

I have mentioned this in Discord, so sorry to be a bother but we want to upgrade to Prism 8.1 which is not available for this library publicly.

Unfortunately we as a team have decided not to use the private Sponsor Connect feed so we'd need 8.1 popup plugins on NuGet to be able to upgrade.

[2022-01-19 03:06] xamiell opened #252 "[Bug] Popup is appearing from bottom"
Hi,

I having a weird behavior when popups are appearing.
**Current behavior** - The background mask is moving from the bottom when the popup is appearing:

https://user-images.githubusercontent.com/12973165/150053830-28f41903-18c3-4b66-9b2d-f2348d932637.mov

The previous example is from **Prism.Unity.Forms** v7.2.0.1422 and **Prism.Plugin.Popups** v7.2.0.1046.

**Expected behavior** - The backgro

[2022-02-04 15:14] Andrelis26 commented on #252
Having the same problem

[2022-02-04 16:46] dansiegel commented on #252
This is not an issue for this library. You should be able to control this with Rg.Plugins.Popup.

[2022-02-04 19:51] xamiell commented on #252
It is strange because this behavior only occurs if I use the latest version of **Prism.Plugin.Popups (8.0.76)** but if I use the previous version - **Prism.Plugin.Popups (7.2.0.1046)** - this behavior stops happening even using the same **Rg.Plugins.Popup** version which is _2.1.0_ on both tests.

Seems more related to the library version.

[2022-02-04 20:45] dansiegel commented on #252
You're welcome to look through the code. To the best of my recollection the plug-in doesn't do anything that should affect that.

[2022-02-18 14:30] markrobert194 commented on #239
Any updates on this?

[2022-03-11 14:26] JaccoDieleman commented on #239
This problem is already solved in the master branch. So we need to do one of the following:

- Become a sponsor, so we get access to the nuget feed with the pre-release
- Build and add the nuget package to a private feed ourselves
- Be patient

[2022-03-11 15:26] dansiegel commented on #239
I'd add to your list:
- Have a support contract with [AvantiPoint](https://avantipoint.com/developer/support)

[2022-05-13 04:02] #237 closed

[2022-05-13 09:45] maxchu92 opened #269 "[Bug] RootViewController error when resetting navigation stack to a page with xct:StatusBarEffect.Color from a PopupPage on iOS"
### Description

An error of `RootViewController` will occur on iOS when resetting the navigation stack with a page that has `xct:StatusBarEffect.Color` using `_navigationService.NavigateAsync("/NavigationPage/MainPage");` from a PopupPage. I had reproduced this issue in both environment, Xamarin.Forms independently, and Xamarin.Forms + Prism.Forms. By changing the `Application.Current.MainPage` i

[2022-07-05 23:01] mongosr2 opened #274 "Should ShowDialog be async or Exception handling be moved?"
I am wondering if the method, Prism.Services.Dialogs.Popups.PopupDialogService::ShowDialog, should be async ( maybe deprecated for the async version? ).  We are seeing 2 behaviors that seem to be due to a call to an async method from this non-async method.  In ShowDialog there is a call to PushPopupPage inside a try catch. When an await is hit in PushPopupPage, the call stack to show dialog unwind

[2022-07-05 23:19] dansiegel commented on #274
First of all the interface comes from Prism.Forms so this wouldn't be an API decision in the Popup Plugin. Second of all the design decision to use callbacks instead of an Async First API was intentional.

[2022-07-06 15:09] dansiegel commented on #274
I don't have the time to look at it right now. This is an open source library and I do take Pull Requests. So if you would like to submit a bug fix I'd be more than happy to review your pr and merge it.

[2022-07-06 15:51] mongosr2 commented on #274
I appreciate that, and completely understand. Unfortunately, I am not able to open PRs for open source due to restrictions from my employer.  I did put what I think would be a fix in the sample application for whenever you get a chance to work on this.  It is commented out with my name, Mike Faltys, above it.